Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Enforce paired retrieval scores
  api/app/services/simplified_rag_service.py
Due: mypy, pytest-check

Resolve public-boundary review findings
  api/.isort.cfg
  api/app/core/error_handlers.py
  api/app/main.py
  api/app/services/rag/qdrant_hybrid_retriever.py
  api/app/services/simplified_rag_service.py
  api/tests/core/test_error_handlers.py
  api/tests/core/test_scheduler_security.py
  api/tests/services/rag/test_simplified_rag_rebuild_liveness.py
  api/tests/services/test_rag_service_review_fixes.py
  api/tests/test_alertmanager_boundary.py
  api/tests/test_alertmanager_webhook.py
  api/tests/test_nginx_llm_rate_limits.py
  api/tests/test_public_boundary_compose.py
  api/tests/test_qdrant_hybrid.py
  api/tests/test_tor_rollback_boundary.py
  docker/docker-compose.yml
  docs/runbooks/public-access.md
  scripts/lib/docker-utils.sh
  scripts/rollback-tor.sh
Due: mypy, pytest-check

Make readiness and monitoring truthful
  .github/workflows/ci.yml
  api/app/routes/health.py
  api/app/services/simplified_rag_service.py
  api/tests/routes/test_health_route.py
  api/tests/services/rag/test_simplified_rag_readiness.py
  api/tests/test_deployment_scripts.py
  api/tests/test_nginx_health_routes.py
  api/tests/test_observability_configuration.py
  docker/alertmanager/alertmanager.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/snippets/application-routes.prod.conf
  docker/prometheus/alert_rules.yml
  docker/prometheus/blackbox.yml
  docker/prometheus/prometheus.yml
  docker/scripts/scheduler-heartbeat.sh
  docs/runbooks/critical-service-health.md
  docs/runbooks/rag-high-error-rate.md
  docs/runbooks/rag-high-latency.md
  docs/runbooks/scheduler-heartbeat.md
  scripts/check-health.sh
  scripts/drill-alert-delivery.sh
  scripts/lib/docker-utils.sh
  scripts/validate-monitoring-config.sh
Due: mypy, pytest-check

Fix alert drill shell annotations
  scripts/drill-alert-delivery.sh
Due: none

Address readiness review findings
  api/tests/routes/test_health_route.py
  api/tests/test_nginx_health_routes.py
  api/tests/test_observability_configuration.py
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/snippets/application-routes.prod.conf
  scripts/validate-monitoring-config.sh
Due: pytest-check

Harden privacy retention
  api/app/alert_relay.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/bisq2/client/sync_state.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/client/polling_state.py
  api/app/channels/plugins/matrix/services/alert_service.py
  api/app/metrics/privacy_metrics.py
  api/app/routes/admin/training.py
  api/app/routes/scheduler.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/privacy_retention_service.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/channels/plugins/test_bisq2_sync_state.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/routes/test_scheduler_routes.py
  api/tests/services/test_privacy_retention_service.py
  api/tests/test_matrix_alert_service.py
  api/tests/test_matrix_polling.py
  api/tests/test_observability_configuration.py
  api/tests/test_privacy_retention_metrics.py
  api/tests/test_privacy_retention_scripts.py
  api/tests/test_unified_training_routes.py
  docker/prometheus/alert_rules.yml
  docker/scripts/rotate-retention-logs.sh
  docs/runbooks/privacy-retention.md
  web/src/app/privacy/page.test.tsx
  web/src/app/privacy/page.tsx
  web/src/components/privacy/privacy-warning-modal.test.tsx
  web/src/components/privacy/privacy-warning-modal.tsx
Due: mypy, pytest-check

Add disaster recovery tooling
  api/app/scripts/disaster_recovery.py
  api/tests/test_deployment_scripts.py
  api/tests/test_disaster_recovery.py
  docs/disaster-recovery.md
  scripts/backup.sh
  scripts/lib/git-utils.sh
  scripts/restore.sh
Due: mypy, pytest-check

Resolve shell lint findings
  scripts/backup.sh
  scripts/lib/git-utils.sh
  scripts/restore.sh
Due: none

Harden disaster recovery safety
  api/app/scripts/disaster_recovery.py
  api/tests/test_deployment_scripts.py
  api/tests/test_disaster_recovery.py
  api/tests/test_disaster_recovery_shell_review.py
  docs/disaster-recovery.md
  scripts/backup.sh
  scripts/lib/git-utils.sh
  scripts/restore.sh
Due: mypy, pytest-check

Harden disaster recovery review paths
  api/app/scripts/disaster_recovery.py
  api/tests/test_deployment_scripts.py
  api/tests/test_disaster_recovery_shell_review.py
  scripts/backup.sh
  scripts/restore.sh
Due: mypy, pytest-check

Add disaster recovery tooling (#223)
  api/app/scripts/disaster_recovery.py
  api/tests/test_deployment_scripts.py
  api/tests/test_disaster_recovery.py
  api/tests/test_disaster_recovery_shell_review.py
  docs/disaster-recovery.md
  scripts/backup.sh
  scripts/lib/git-utils.sh
  scripts/restore.sh
Due: mypy, pytest-check

Harden release governance
  .github/workflows/ci.yml
  api/tests/test_ci_configuration.py
  api/tests/test_observability_configuration.py
  api/tests/test_release_governance.py
  docker/api/Dockerfile
  docker/bisq2-api/Dockerfile
  docker/docker-compose.yml
  docker/web/Dockerfile
  docs/runbooks/branch-protection.json
  docs/runbooks/branch-protection.md
Due: pytest-check

Harden release governance (#224)
  .github/workflows/ci.yml
  api/tests/test_ci_configuration.py
  api/tests/test_observability_configuration.py
  api/tests/test_release_governance.py
  docker/api/Dockerfile
  docker/bisq2-api/Dockerfile
  docker/docker-compose.yml
  docker/web/Dockerfile
  docs/runbooks/branch-protection.json
  docs/runbooks/branch-protection.md
Due: pytest-check

Add release-bound AI quality gate
  .dockerignore
  .github/workflows/ai-quality-gate.yml
  .gitignore
  api/app/scripts/release_ai_quality_gate.py
  api/app/scripts/release_ai_quality_report.py
  api/data/evaluation/README.md
  api/data/evaluation/release_ai_quality_samples_v1.json
  api/data/evaluation/release_ai_quality_stub/api/v1/market-price/quotes
  api/data/evaluation/release_ai_quality_stub/api/v1/offerbook/markets/EUR/offers
  api/data/evaluation/release_ai_quality_stub/api/v1/openapi.json
  api/tests/scripts/test_release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_report.py
  api/tests/test_deployment_scripts.py
  api/tests/test_release_ai_quality_gate_configuration.py
  docker/bisq2-api/.dockerignore
  docker/docker-compose.ai-quality.yml
  docs/release-ai-quality-gate.md
  docs/runbooks/release-ai-quality-environment.json
  docs/runbooks/release-ai-quality-marker-tags.json
  docs/runbooks/release-ai-quality-protection.md
  docs/runbooks/release-ai-quality-release-branch-changes.json
  docs/runbooks/release-ai-quality-release-branch-lifecycle.json
  docs/runbooks/release-ai-quality-version-tags.json
  scripts/deploy.sh
  scripts/lib/git-utils.sh
  scripts/update.sh
  scripts/verify-release-ai-quality-gate.sh
Due: mypy, pytest-check

Add release-bound AI quality gate (#225)
  .dockerignore
  .github/workflows/ai-quality-gate.yml
  .gitignore
  api/app/scripts/release_ai_quality_gate.py
  api/app/scripts/release_ai_quality_report.py
  api/data/evaluation/README.md
  api/data/evaluation/release_ai_quality_samples_v1.json
  api/data/evaluation/release_ai_quality_stub/api/v1/market-price/quotes
  api/data/evaluation/release_ai_quality_stub/api/v1/offerbook/markets/EUR/offers
  api/data/evaluation/release_ai_quality_stub/api/v1/openapi.json
  api/tests/scripts/test_release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_report.py
  api/tests/test_deployment_scripts.py
  api/tests/test_release_ai_quality_gate_configuration.py
  docker/bisq2-api/.dockerignore
  docker/docker-compose.ai-quality.yml
  docs/release-ai-quality-gate.md
  docs/runbooks/release-ai-quality-environment.json
  docs/runbooks/release-ai-quality-marker-tags.json
  docs/runbooks/release-ai-quality-protection.md
  docs/runbooks/release-ai-quality-release-branch-changes.json
  docs/runbooks/release-ai-quality-release-branch-lifecycle.json
  docs/runbooks/release-ai-quality-version-tags.json
  scripts/deploy.sh
  scripts/lib/git-utils.sh
  scripts/update.sh
  scripts/verify-release-ai-quality-gate.sh
Due: mypy, pytest-check

Add guarded channel launch controls
  api/app/channels/arbitration/coordinator.py
  api/app/channels/bootstrapper.py
  api/app/channels/feedback_followup.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/response_dispatcher.py
  api/app/channels/services/live_polling_service.py
  api/app/core/config.py
  api/app/main.py
  api/app/routes/admin/__init__.py
  api/app/routes/admin/channel_launch.py
  api/app/routes/health.py
  api/app/services/channel_launch_control_service.py
  api/app/services/privacy_retention_service.py
  api/tests/channels/arbitration/test_coordinator.py
  api/tests/channels/plugins/test_bisq2_live_chat_service.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/test_bootstrapper.py
  api/tests/channels/test_feedback_followup.py
  api/tests/channels/test_inbound_orchestrator.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/escalation/test_escalation_response_delivery.py
  api/tests/routes/test_admin_channel_launch.py
  api/tests/routes/test_health_route.py
  api/tests/services/test_channel_launch_control_service.py
  api/tests/services/test_privacy_retention_service.py
  api/tests/test_channel_launch_assets.py
  api/tests/test_channel_launch_startup.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/runbooks/channel-launch.md
  docs/runbooks/privacy-retention.md
  scripts/channel-launch-control.sh
Due: mypy, pytest-check

Add guarded channel launch controls (#226)
  api/app/channels/arbitration/coordinator.py
  api/app/channels/bootstrapper.py
  api/app/channels/feedback_followup.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/response_dispatcher.py
  api/app/channels/services/live_polling_service.py
  api/app/core/config.py
  api/app/main.py
  api/app/routes/admin/__init__.py
  api/app/routes/admin/channel_launch.py
  api/app/routes/health.py
  api/app/services/channel_launch_control_service.py
  api/app/services/privacy_retention_service.py
  api/tests/channels/arbitration/test_coordinator.py
  api/tests/channels/plugins/test_bisq2_live_chat_service.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/test_bootstrapper.py
  api/tests/channels/test_feedback_followup.py
  api/tests/channels/test_inbound_orchestrator.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/escalation/test_escalation_response_delivery.py
  api/tests/routes/test_admin_channel_launch.py
  api/tests/routes/test_health_route.py
  api/tests/services/test_channel_launch_control_service.py
  api/tests/services/test_privacy_retention_service.py
  api/tests/test_channel_launch_assets.py
  api/tests/test_channel_launch_startup.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/runbooks/channel-launch.md
  docs/runbooks/privacy-retention.md
  scripts/channel-launch-control.sh
Due: mypy, pytest-check

Raise MCP security floor
  api/requirements.in
  api/requirements.txt
Due: none

Harden Bisq request timeouts
  api/app/channels/plugins/bisq2/client/api.py
  api/app/routes/health.py
  api/app/services/training/unified_faq_extractor.py
  api/tests/channels/reactions/test_processor.py
  api/tests/integration/test_bisq_api.py
Due: mypy, pytest-check

Remove vacuous reaction log test
  api/tests/channels/reactions/test_processor.py
Due: pytest-check

Harden production release transition
  .github/workflows/ci.yml
  README.md
  api/app/scripts/disaster_recovery.py
  api/tests/test_deployment_scripts.py
  api/tests/test_disaster_recovery.py
  api/tests/test_disaster_recovery_shell_review.py
  docs/disaster-recovery.md
  docs/release-ai-quality-gate.md
  docs/runbooks/production-gate-transition.md
  scripts/backup.sh
  scripts/bootstrap-release-gate-update.sh
  scripts/deploy.sh
  scripts/restore.sh
  scripts/tests/test_release_gate_transition.sh
Due: mypy, pytest-check

Reuse the existing production stack
  api/tests/test_deployment_scripts.py
  api/tests/test_observability_configuration.py
  docs/runbooks/production-gate-transition.md
  scripts/backup.sh
  scripts/bootstrap-release-gate-update.sh
  scripts/check-health.sh
  scripts/cleanup_old_data.sh
  scripts/drill-alert-delivery.sh
  scripts/lib/common.sh
  scripts/lib/git-utils.sh
  scripts/restart.sh
  scripts/restore.sh
  scripts/rollback-tor.sh
  scripts/rollback.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/tests/test_release_gate_transition.sh
  scripts/update.sh
  scripts/verify-feedback-persistence.sh
  web/package-lock.json
  web/package.json
Due: pytest-check

Resolve transition review findings
  api/requirements.in
  api/requirements.txt
  api/tests/test_disaster_recovery_shell_review.py
  scripts/bootstrap-release-gate-update.sh
  scripts/restore.sh
Due: pytest-check

Harden transition diagnostics
  api/tests/test_deployment_scripts.py
  docs/runbooks/production-gate-transition.md
  scripts/update.sh
Due: pytest-check

Remove vulnerable web runtime packages
  api/tests/test_release_governance.py
  docker/web/Dockerfile
  web/package-lock.json
  web/package.json
Due: pytest-check

Clarify protected assignment guard
  scripts/bootstrap-release-gate-update.sh
Due: none

Assert removal of npm launchers
  api/tests/test_release_governance.py
Due: pytest-check

Use web image runtime command
  api/tests/test_release_governance.py
  docker/docker-compose.yml
Due: pytest-check

Document lifecycle lock cleanup
  api/tests/test_deployment_scripts.py
  docs/runbooks/production-gate-transition.md
Due: pytest-check

Add single-operator production testing profile
  .github/workflows/ai-quality-gate.yml
  api/tests/test_release_ai_quality_gate_configuration.py
  api/tests/test_release_governance.py
  docs/release-ai-quality-gate.md
  docs/runbooks/branch-protection.md
  docs/runbooks/branch-protection.single-operator-testing.json
  docs/runbooks/production-gate-transition.md
  docs/runbooks/release-ai-quality-environment.single-operator-testing.json
  docs/runbooks/release-ai-quality-marker-tags.json
  docs/runbooks/release-ai-quality-protection.md
  docs/runbooks/release-ai-quality-release-branch-changes.single-operator-testing.json
  docs/runbooks/single-operator-production-testing.md
Due: pytest-check

Correct environment protection verification
  api/tests/test_release_governance.py
  docs/runbooks/single-operator-production-testing.md
Due: pytest-check

Complete single-operator ruleset transitions
  api/tests/test_release_ai_quality_gate_configuration.py
  api/tests/test_release_governance.py
  docs/runbooks/single-operator-production-testing.md
Due: pytest-check

Run quality gate as application user
  .github/workflows/ai-quality-gate.yml
  api/tests/test_release_ai_quality_gate_configuration.py
Due: pytest-check
