Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Handle empty git stash during updates
  api/tests/test_deployment_scripts.py
  scripts/lib/git-utils.sh
Due: pytest-check

Handle no-op update flow under set -e
  scripts/update.sh
Due: none

Join Matrix ChatOps rooms during startup
  api/app/channels/plugins/matrix/channel.py
  api/tests/channels/plugins/test_matrix_plugin.py
Due: mypy, pytest-check

Sync trust monitor runtime policy on startup
  api/app/services/trust_monitor_policy_service.py
  api/tests/channels/trust_monitor/test_trust_monitor_service.py
Due: mypy, pytest-check

Refresh API lockfile for CI
  api/requirements.txt
Due: none

Recover trust monitor overview policy on the client
  web/src/components/admin/overview/TrustMonitoringCard.test.tsx
  web/src/components/admin/overview/TrustMonitoringCard.tsx
  web/src/hooks/useTrustMonitorPolicy.test.tsx
  web/src/hooks/useTrustMonitorPolicy.ts
Due: none

Fix overview trust monitor bootstrap state
  api/requirements.txt
  web/src/components/admin/overview/TrustMonitoringCard.test.tsx
  web/src/components/admin/overview/TrustMonitoringCard.tsx
Due: none

Consolidate env config into single source of truth
  api/.env.example
  docker/.env.example
  docs/environment-configuration.md
  scripts/deploy.sh
  scripts/lib/common.sh
  scripts/migrate-env.sh
  scripts/rollback.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/tests/test_env_config.sh
  scripts/update.sh
Due: none

Address CodeRabbit review and refresh dependencies
  .trivyignore
  api/requirements.in
  api/requirements.txt
  scripts/migrate-env.sh
  scripts/rollback.sh
  scripts/update.sh
Due: none

Consolidate env config into single source of truth (#171)
  .trivyignore
  api/.env.example
  api/requirements.in
  api/requirements.txt
  docker/.env.example
  docs/environment-configuration.md
  scripts/deploy.sh
  scripts/lib/common.sh
  scripts/migrate-env.sh
  scripts/rollback.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/tests/test_env_config.sh
  scripts/update.sh
Due: none

Call setup_colors before log functions in start/stop scripts
  scripts/start.sh
  scripts/stop.sh
Due: none

Fix training pipeline extraction bugs and upgrade to gpt-4.1-nano
  api/app/core/config.py
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/test_unified_faq_extractor.py
  docker/.env.example
Due: mypy, pytest-check

Refresh requirements.txt for CI
  api/requirements.txt
Due: none

Address CodeRabbit review: fix staff ID matching, check both IDs for fabrication, fix test coverage
  api/app/services/training/unified_faq_extractor.py
  api/tests/test_unified_faq_extractor.py
Due: mypy, pytest-check

Use extraction-specific LLM settings in _call_llm
  api/app/services/training/unified_faq_extractor.py
Due: mypy, pytest-check

Fix training pipeline extraction bugs and upgrade to gpt-4.1-nano (#172)
  api/app/core/config.py
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/unified_pipeline_service.py
  api/requirements.txt
  api/tests/test_unified_faq_extractor.py
  docker/.env.example
Due: mypy, pytest-check

Update LLM_EXTRACTION_MODEL default to gpt-4.1-nano in docker-compose
  docker/docker-compose.yml
Due: none

Normalize trailing punctuation in identical-text check
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/unified_pipeline_service.py
Due: mypy, pytest-check

Ignore alert bot in message handler self-sender check
  api/app/channels/plugins/matrix/message_handler.py
Due: mypy, pytest-check

Add proactive impersonation detection and fix escalation close bug
  api/app/channels/trust_monitor/proactive_scanner.py
  api/app/main.py
  web/src/app/admin/escalations/EscalationReviewPanel.tsx
Due: mypy, pytest-check

Address CodeRabbit nitpicks: nio import, log context, scan delay
  api/app/channels/trust_monitor/proactive_scanner.py
  api/app/main.py
Due: mypy, pytest-check

Add per-request timeout and typed exception handling for API calls
  api/app/channels/trust_monitor/proactive_scanner.py
Due: mypy, pytest-check

Update Next.js 15.5.11 -> 15.5.15 (fix GHSA-q4gf-8mx6-v5v3)
  web/package-lock.json
  web/package.json
Due: none

Add proactive impersonation detection and fix escalation close bug (#173)
  api/app/channels/trust_monitor/proactive_scanner.py
  api/app/main.py
  api/requirements.txt
  web/package-lock.json
  web/package.json
  web/src/app/admin/escalations/EscalationReviewPanel.tsx
Due: mypy, pytest-check

Capture avatar URLs in impersonation evidence for UI display
  api/app/channels/trust_monitor/proactive_scanner.py
Due: mypy, pytest-check

Overhaul security alerts UI and fix proactive alert surface
  api/app/channels/trust_monitor/alert_formatting.py
  api/app/channels/trust_monitor/proactive_persistence.py
  api/app/main.py
  api/app/routes/admin/trust_monitor.py
  api/app/services/matrix_media_proxy.py
  api/tests/channels/trust_monitor/test_alert_formatting.py
  api/tests/channels/trust_monitor/test_proactive_persistence.py
  api/tests/services/test_matrix_media_proxy.py
  web/src/components/admin/security/AvatarComparison.test.tsx
  web/src/components/admin/security/AvatarComparison.tsx
  web/src/components/admin/security/MatrixAvatar.test.tsx
  web/src/components/admin/security/MatrixAvatar.tsx
  web/src/components/admin/security/SecurityAlertsClient.tsx
  web/src/components/admin/security/SecurityFindingDetail.test.tsx
  web/src/components/admin/security/SecurityFindingDetail.tsx
  web/src/components/admin/security/SecurityFindingsList.tsx
  web/src/components/admin/security/securityUi.test.ts
  web/src/components/admin/security/securityUi.ts
  web/src/lib/__tests__/matrix-media.test.ts
  web/src/lib/matrix-media.ts
Due: mypy, pytest-check

Address CodeRabbit review on security alerts PR
  api/app/channels/trust_monitor/alert_formatting.py
  api/tests/channels/trust_monitor/test_alert_formatting.py
  web/src/components/admin/security/AvatarComparison.test.tsx
  web/src/components/admin/security/MatrixAvatar.test.tsx
  web/src/components/admin/security/MatrixAvatar.tsx
  web/src/components/admin/security/SecurityFindingDetail.test.tsx
  web/src/components/admin/security/SecurityFindingDetail.tsx
  web/src/lib/__tests__/matrix-media.test.ts
  web/src/lib/matrix-media.ts
Due: mypy, pytest-check

Overhaul security alerts UI and fix proactive alert surface (#174)
  api/app/channels/trust_monitor/alert_formatting.py
  api/app/channels/trust_monitor/proactive_persistence.py
  api/app/main.py
  api/app/routes/admin/trust_monitor.py
  api/app/services/matrix_media_proxy.py
  api/tests/channels/trust_monitor/test_alert_formatting.py
  api/tests/channels/trust_monitor/test_proactive_persistence.py
  api/tests/services/test_matrix_media_proxy.py
  web/src/components/admin/security/AvatarComparison.test.tsx
  web/src/components/admin/security/AvatarComparison.tsx
  web/src/components/admin/security/MatrixAvatar.test.tsx
  web/src/components/admin/security/MatrixAvatar.tsx
  web/src/components/admin/security/SecurityAlertsClient.tsx
  web/src/components/admin/security/SecurityFindingDetail.test.tsx
  web/src/components/admin/security/SecurityFindingDetail.tsx
  web/src/components/admin/security/SecurityFindingsList.tsx
  web/src/components/admin/security/securityUi.test.ts
  web/src/components/admin/security/securityUi.ts
  web/src/lib/__tests__/matrix-media.test.ts
  web/src/lib/matrix-media.ts
Due: mypy, pytest-check

Stop posting scam warnings into the public support room
  api/app/channels/trust_monitor/proactive_scanner.py
  api/tests/channels/trust_monitor/test_proactive_scanner.py
Due: mypy, pytest-check

Refresh requirements.txt lockfile
  api/requirements.txt
Due: none

Stop posting scam warnings into the public support room (#175)
  api/app/channels/trust_monitor/proactive_scanner.py
  api/requirements.txt
  api/tests/channels/trust_monitor/test_proactive_scanner.py
Due: mypy, pytest-check

Improve FAQ extraction quality with Phase 1 pipeline fixes
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/training/validation.py
  api/tests/services/training/test_extraction_filters.py
  api/tests/services/training/test_pre_storage_dedup.py
  api/tests/services/training/test_routing.py
  api/tests/services/training/test_thread_formatting.py
  docker/docker-compose.yml
Due: mypy, pytest-check

Address CodeRabbit review on training pipeline PR
  api/app/core/config.py
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/validation.py
  api/tests/services/training/test_extraction_filters.py
  api/tests/services/training/test_routing.py
Due: mypy, pytest-check

Improve FAQ extraction quality (Phase 1) (#176)
  api/app/core/config.py
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/training/validation.py
  api/requirements.txt
  api/tests/services/training/test_extraction_filters.py
  api/tests/services/training/test_pre_storage_dedup.py
  api/tests/services/training/test_routing.py
  api/tests/services/training/test_thread_formatting.py
  docker/docker-compose.yml
Due: mypy, pytest-check

Harden training candidate protocol detection
  api/app/services/rag/bisq_entities.py
  api/app/services/rag/protocol_detector.py
  api/tests/test_protocol_detector.py
  api/tests/test_source_based_protocol_detection.py
Due: mypy, pytest-check

Tighten support ticket protocol signals
  api/app/services/rag/bisq_entities.py
  api/tests/test_protocol_detector.py
  api/tests/test_source_based_protocol_detection.py
Due: mypy, pytest-check

Keep mediation chat protocol-neutral
  api/app/services/rag/bisq_entities.py
  api/tests/test_protocol_detector.py
  api/tests/test_source_based_protocol_detection.py
Due: mypy, pytest-check
