Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

mypy:
  name: Type check Python code with mypy
  entry: bash -c 'cd api && mypy "${@#api/}"' --
  language: system
  pass_filenames: true

pytest-check:
  name: Run fast pytest tests
  entry: bash -c 'cd api && python -m pytest tests/ -m "not slow" -x --tb=short --quiet'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

Preserve supported mediation referrals (#244)
  api/app/prompts/runtime_policy.py
  api/tests/rag/test_prompt_manager.py
Due: mypy, pytest-check

Add reviewed public-context trial tools
  api/app/channels/staff_assist/grounding.py
  api/app/channels/staff_assist/public_context.py
  api/app/prompts/error_messages.py
  api/app/scripts/generate_code_evidence.py
  api/app/scripts/preview_public_context.py
  api/app/services/bisq_network_status_service.py
  api/app/services/mcp/mcp_http_server.py
  api/app/services/rag/code_evidence.py
  api/app/services/rag/code_evidence_extractor.py
  api/app/services/rag/llm_provider.py
  api/app/services/simplified_rag_service.py
  api/tests/mcp/test_mcp_http_server.py
  api/tests/rag/test_openai_responses.py
  api/tests/routes/test_knowledge_updates.py
  api/tests/services/rag/test_code_evidence.py
  api/tests/services/rag/test_code_evidence_extractor.py
  api/tests/services/test_code_evidence_promotion.py
  api/tests/services/test_network_status_rag.py
  api/tests/test_bisq_network_status_service.py
  api/tests/unit/channels/test_public_context.py
  docs/bisq-network-monitoring-tool.md
  docs/code-evidence-schema.md
  docs/public-context-experiment.md
Due: mypy, pytest-check

Clarify only missing diagnostic details
  api/app/channels/staff_assist/public_context.py
Due: mypy, pytest-check

Bound release version parsing
  api/app/services/rag/code_evidence.py
  api/tests/services/rag/test_code_evidence.py
Due: mypy, pytest-check

Bind public context to verified evidence
  api/app/channels/staff_assist/public_context.py
  api/app/services/bisq_network_status_service.py
  api/app/services/rag/code_evidence.py
  api/app/services/rag/llm_provider.py
  api/app/services/simplified_rag_service.py
  api/tests/services/rag/test_code_evidence.py
  api/tests/services/test_network_status_rag.py
  api/tests/unit/channels/test_public_context.py
  docs/bisq-network-monitoring-tool.md
Due: mypy, pytest-check

Add reviewed public-context trial tools (#245)
  api/app/channels/staff_assist/grounding.py
  api/app/channels/staff_assist/public_context.py
  api/app/prompts/error_messages.py
  api/app/scripts/generate_code_evidence.py
  api/app/scripts/preview_public_context.py
  api/app/services/bisq_network_status_service.py
  api/app/services/mcp/mcp_http_server.py
  api/app/services/rag/code_evidence.py
  api/app/services/rag/code_evidence_extractor.py
  api/app/services/rag/llm_provider.py
  api/app/services/simplified_rag_service.py
  api/tests/mcp/test_mcp_http_server.py
  api/tests/rag/test_openai_responses.py
  api/tests/routes/test_knowledge_updates.py
  api/tests/services/rag/test_code_evidence.py
  api/tests/services/rag/test_code_evidence_extractor.py
  api/tests/services/test_code_evidence_promotion.py
  api/tests/services/test_network_status_rag.py
  api/tests/test_bisq_network_status_service.py
  api/tests/unit/channels/test_public_context.py
  docs/bisq-network-monitoring-tool.md
  docs/code-evidence-schema.md
  docs/public-context-experiment.md
Due: mypy, pytest-check

Keep public context notes useful and concise
  api/app/channels/staff_assist/public_context.py
  api/tests/unit/channels/test_public_context.py
Due: mypy, pytest-check

Keep public context notes useful and concise (#246)
  api/app/channels/staff_assist/public_context.py
  api/tests/unit/channels/test_public_context.py
Due: mypy, pytest-check

Fix staff context review boundaries
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/staff_assist/context_runtime.py
  api/app/core/config.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/escalation_repository.py
  api/app/services/escalation/response_delivery.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/plugins/test_matrix_staff_context_boundary.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/escalation/test_escalation_repository.py
  api/tests/escalation/test_escalation_response_delivery.py
  api/tests/routes/test_internal_context_privacy.py
  docker/.env.example
  docs/environment-configuration.md
  docs/matrix-staff-context.md
Due: mypy, pytest-check

Keep FAQ reads off the event loop
  api/app/channels/staff_assist/evidence_resolver.py
  api/tests/unit/channels/test_staff_evidence_resolver.py
  docs/matrix-staff-context.md
Due: mypy, pytest-check

Bound trials and expand Matrix evidence
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/client/session_manager.py
  api/app/channels/staff_assist/context_runtime.py
  api/app/channels/staff_assist/context_trial.py
  api/app/channels/staff_assist/evidence_resolver.py
  api/app/channels/staff_assist/public_context.py
  api/app/core/config.py
  api/app/main.py
  api/tests/channels/plugins/test_matrix_trial_identity.py
  api/tests/channels/reactions/test_reaction_integration.py
  api/tests/channels/test_bootstrapper.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/channels/test_context_trial.py
  api/tests/unit/channels/test_staff_evidence_resolver.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/matrix-staff-context.md
Due: mypy, pytest-check

Bound trials and expand Matrix evidence (#248)
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/client/session_manager.py
  api/app/channels/staff_assist/context_runtime.py
  api/app/channels/staff_assist/context_trial.py
  api/app/channels/staff_assist/evidence_resolver.py
  api/app/channels/staff_assist/public_context.py
  api/app/core/config.py
  api/app/main.py
  api/tests/channels/plugins/test_matrix_trial_identity.py
  api/tests/channels/reactions/test_reaction_integration.py
  api/tests/channels/test_bootstrapper.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/channels/test_context_trial.py
  api/tests/unit/channels/test_staff_evidence_resolver.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/matrix-staff-context.md
Due: mypy, pytest-check

Preserve calibration and intake provenance
  api/app/services/escalation/escalation_service.py
  api/app/services/escalation/feedback_orchestrator.py
  api/app/services/knowledge/ingest/bisq2_sync_service.py
  api/app/services/knowledge/ingest/matrix_sync_service.py
  api/app/services/knowledge/knowledge_extractor.py
  api/app/services/knowledge_updates/llm_wiki_coverage_reconciliation.py
  api/app/services/rag/learning_engine.py
  api/tests/escalation/test_escalation_learning.py
  api/tests/services/test_knowledge_intake.py
  api/tests/test_bisq_sync_deduplication.py
  api/tests/test_feedback_orchestrator.py
  api/tests/test_knowledge_extractor.py
  api/tests/test_learning_engine_calibration.py
  api/tests/test_matrix_sync_service.py
  docs/knowledge-learning.md
Due: mypy, pytest-check

Keep incomplete intake from blocking progress
  api/app/routes/admin/training.py
  api/app/services/knowledge/candidate_repository.py
  api/app/services/knowledge/ingest/bisq2_sync_service.py
  api/app/services/knowledge/ingest/matrix_sync_service.py
  api/app/services/knowledge/knowledge_pipeline_service.py
  api/app/services/privacy_retention_service.py
  api/tests/conftest_unified.py
  api/tests/models/test_training_models.py
  api/tests/services/test_knowledge_extraction_retention.py
  api/tests/services/test_knowledge_intake.py
  api/tests/test_bisq_sync_deduplication.py
  api/tests/test_bisq_sync_integration.py
  api/tests/test_matrix_sync_service.py
  api/tests/test_unified_training_routes.py
  docs/knowledge-learning.md
  web/src/app/admin/knowledge-updates/page.tsx
  web/src/components/admin/knowledge-updates/IntakeDispositionNotice.tsx
Due: mypy, pytest-check

Resolve incident and release evidence reviews
  api/app/channels/staff_assist/context_incidents.py
  api/app/channels/staff_assist/context_runtime.py
  api/app/routes/public_knowledge.py
  api/app/scripts/refresh_release_evidence.py
  api/app/services/rag/code_evidence_extractor.py
  api/tests/channels/test_context_incidents.py
  api/tests/routes/test_public_knowledge.py
  api/tests/services/rag/test_code_evidence_extractor.py
  api/tests/services/rag/test_release_evidence_refresh.py
  web/src/app/admin/knowledge-updates/pages/[pageId]/page.test.tsx
  web/src/app/admin/knowledge-updates/pages/[pageId]/page.tsx
Due: mypy, pytest-check

Skip compound acknowledgement incidents
  api/app/channels/staff_assist/context_incidents.py
  api/tests/channels/test_context_incidents.py
Due: mypy, pytest-check

Resolve reviewed FAQ troubleshooting links
  api/app/channels/staff_assist/evidence_resolver.py
  api/app/services/rag/canonical_fixes.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/services/rag/test_canonical_fixes.py
  api/tests/unit/channels/test_staff_evidence_resolver.py
Due: mypy, pytest-check

Avoid acknowledgement matcher backtracking
  api/app/channels/staff_assist/context_incidents.py
  api/tests/channels/test_context_incidents.py
Due: mypy, pytest-check

Update dependencies required by security CI
  api/requirements.in
  api/requirements.txt
Due: none

Refresh available OpenSSL runtime pins
  api/tests/test_release_governance.py
  docker/web/Dockerfile
Due: pytest-check

Improve staff incident admission and evidence (#251)
  api/app/channels/staff_assist/context_incidents.py
  api/app/channels/staff_assist/evidence_resolver.py
  api/app/services/rag/canonical_fixes.py
  api/requirements.in
  api/requirements.txt
  api/tests/channels/test_context_incidents.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/services/rag/test_canonical_fixes.py
  api/tests/test_release_governance.py
  api/tests/unit/channels/test_staff_evidence_resolver.py
  docker/web/Dockerfile
Due: mypy, pytest-check

Preserve runtime wiki data during updates
  .gitignore
  api/app/core/config.py
  api/app/core/wiki_seed.py
  api/app/resources/wiki/processed_wiki.seed.jsonl
  api/tests/scripts/test_wiki_cache_migration.py
  api/tests/services/test_wiki_protocol_metadata.py
  api/tests/test_wiki_seed.py
  docs/rag-architecture.md
  docs/release-ai-quality-gate.md
  scripts/lib/common.sh
  scripts/lib/git-utils.sh
  scripts/migrate_wiki_cache.py
  scripts/update.sh
Due: mypy, pytest-check

Retain the sourced updater refusal guard
  api/tests/scripts/test_wiki_cache_migration.py
  scripts/update.sh
Due: pytest-check

Resolve seed citations from source resources
  api/tests/services/rag/test_llm_wiki_seed_pages.py
Due: pytest-check

Isolate migration Git environment
  api/tests/scripts/test_wiki_cache_migration.py
  scripts/migrate_wiki_cache.py
Due: pytest-check

Preserve runtime wiki data during updates (#252)
  .gitignore
  api/app/core/config.py
  api/app/core/wiki_seed.py
  api/app/resources/wiki/processed_wiki.seed.jsonl
  api/tests/scripts/test_wiki_cache_migration.py
  api/tests/services/rag/test_llm_wiki_seed_pages.py
  api/tests/services/test_wiki_protocol_metadata.py
  api/tests/test_wiki_seed.py
  docs/rag-architecture.md
  docs/release-ai-quality-gate.md
  scripts/lib/common.sh
  scripts/lib/git-utils.sh
  scripts/migrate_wiki_cache.py
  scripts/update.sh
Due: mypy, pytest-check

Restore Matrix room state before intake
  api/app/channels/models.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/client/connection_manager.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/staff_assist/context_runtime.py
  api/app/channels/staff_assist/public_context.py
  api/tests/channels/plugins/test_matrix_encrypted_restart.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/channels/test_context_trial.py
  api/tests/test_matrix_connection_manager.py
  api/tests/unit/channels/test_public_context.py
  docs/matrix-staff-context.md
Due: mypy, pytest-check

Update virtualenv for safe activation paths
  api/requirements.in
  api/requirements.txt
Due: none

Restore Matrix room state before intake (#253)
  api/app/channels/models.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/client/connection_manager.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/staff_assist/context_runtime.py
  api/app/channels/staff_assist/public_context.py
  api/requirements.in
  api/requirements.txt
  api/tests/channels/plugins/test_matrix_encrypted_restart.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/test_context_runtime_integration.py
  api/tests/channels/test_context_trial.py
  api/tests/test_matrix_connection_manager.py
  api/tests/unit/channels/test_public_context.py
  docs/matrix-staff-context.md
Due: mypy, pytest-check

Recover readiness and defer orphan replies
  api/app/channels/staff_assist/context_runtime.py
  api/app/routes/health.py
  api/app/services/bisq_mcp_service.py
  api/tests/channels/test_context_fragment_admission.py
  api/tests/routes/test_health_route.py
  api/tests/services/test_bisq_readiness_recovery.py
  docs/matrix-staff-context.md
  docs/troubleshooting.md
Due: mypy, pytest-check

Update dependencies and stabilize timed fixtures
  api/requirements.in
  api/requirements.txt
  api/tests/test_bisq_network_status_service.py
Due: pytest-check

Update source-map-js security patch
  web/package-lock.json
Due: none

Recover readiness and defer orphan replies
  api/app/channels/staff_assist/context_runtime.py
  api/app/routes/health.py
  api/app/services/bisq_mcp_service.py
  api/requirements.in
  api/requirements.txt
  api/tests/channels/test_context_fragment_admission.py
  api/tests/routes/test_health_route.py
  api/tests/services/test_bisq_readiness_recovery.py
  api/tests/test_bisq_network_status_service.py
  docs/matrix-staff-context.md
  docs/troubleshooting.md
  web/package-lock.json
Due: mypy, pytest-check

Codify selective deployment execution
  README.md
  api/tests/scripts/fixtures/deployment_rehearsal/README.md
  api/tests/scripts/fixtures/deployment_rehearsal/boundary.py
  api/tests/scripts/fixtures/deployment_rehearsal/recovery_adapter.txt
  api/tests/scripts/test_backup_lifecycle.py
  api/tests/scripts/test_deploy_release.py
  api/tests/scripts/test_deployment_execution.py
  api/tests/scripts/test_deployment_host.py
  api/tests/scripts/test_deployment_journal.py
  api/tests/scripts/test_deployment_protocol.py
  api/tests/scripts/test_deployment_recovery.py
  api/tests/scripts/test_deployment_rehearsal.py
  api/tests/scripts/test_docker_identity.py
  api/tests/scripts/test_lifecycle_lock.py
  api/tests/test_deployment_scripts.py
  api/tests/test_disaster_recovery.py
  docs/runbooks/deployment-workflow.md
  scripts/backup.sh
  scripts/deploy_release.py
  scripts/deploy_release_host.py
  scripts/lib/common.sh
  scripts/lib/deployment_bootstrap.py
  scripts/lib/deployment_client.py
  scripts/lib/deployment_host.py
  scripts/lib/deployment_host.sh
  scripts/lib/deployment_journal.py
  scripts/lib/deployment_protocol.py
  scripts/lib/deployment_recovery.py
  scripts/lib/docker_identity.py
  scripts/lib/git-utils.sh
  scripts/lib/lifecycle_lock.py
  scripts/restore.sh
  scripts/update.sh
Due: pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$

