Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Harden Phase 2 security gates
  api/app/channels/bootstrapper.py
  api/app/core/config.py
  api/app/core/security.py
  api/app/main.py
  api/app/routes/admin/analytics.py
  api/app/routes/admin/feedback.py
  api/app/routes/feedback_routes.py
  api/app/services/rag/prompt_manager.py
  api/tests/channels/reactions/test_reaction_integration.py
  api/tests/conftest.py
  api/tests/rag/test_prompt_manager_review_fixes.py
  api/tests/routes/test_admin_access_security.py
  api/tests/routes/test_feedback_explanation_security.py
  docker/.env.example
  docker/docker-compose.local.yml
  docker/docker-compose.yml
  docker/grafana/provisioning/datasources/admin_api_infinity_datasource.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docker/scripts/lib/metrics.sh
  docker/setup-server.sh
  docs/environment-configuration.md
  docs/monitoring-security.md
  run-local.sh
  scripts/deploy.sh
Due: mypy, pytest-check

Address CodeRabbit phase 2 notes
  api/app/channels/bootstrapper.py
  api/app/core/config.py
  api/app/routes/feedback_routes.py
  api/tests/channels/reactions/test_reaction_integration.py
  api/tests/routes/test_feedback_explanation_security.py
  api/tests/test_feature_flags.py
  docker/.env.example
  docs/environment-configuration.md
  run-local.sh
Due: mypy, pytest-check

Route channel replies through gateway
  api/app/channels/base.py
  api/app/channels/chatops/parser.py
  api/app/channels/gateway.py
  api/app/channels/inbound_orchestrator.py
  api/app/channels/lifecycle.py
  api/app/channels/models.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/policy.py
  api/app/channels/response_builder.py
  api/app/channels/response_enricher.py
  api/app/channels/traits.py
  api/app/main.py
  api/app/routes/chat.py
  api/app/services/channel_autoresponse_policy_service.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/channels/test_channel_traits.py
  api/tests/channels/test_inbound_orchestrator.py
  api/tests/channels/test_response_builder.py
  api/tests/routes/test_chat_endpoints.py
Due: mypy, pytest-check

Unblock async hot paths
  api/app/db/repository.py
  api/app/routes/admin/feedback.py
  api/app/services/dashboard_service.py
  api/app/services/faq/faq_repository_sqlite.py
  api/app/services/faq_service.py
  api/app/services/feedback_service.py
  api/app/services/rag/qdrant_hybrid_retriever.py
  api/app/services/simplified_rag_service.py
  api/tests/routes/test_admin_feedback_list_hot_path.py
  api/tests/services/test_rag_service_review_fixes.py
  api/tests/test_dashboard_service.py
  api/tests/test_feedback_service.py
  api/tests/test_qdrant_hybrid.py
Due: mypy, pytest-check

Close feedback learning loop
  api/app/main.py
  api/app/services/escalation/feedback_orchestrator.py
  api/app/services/faq_service.py
  api/app/services/rag/learning_engine.py
  api/app/services/simplified_rag_service.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/services/rag/test_rag_incremental_faq_update.py
  api/tests/services/test_rag_service_review_fixes.py
  api/tests/test_faq_rebuild_optimization.py
  api/tests/test_feedback_orchestrator.py
  api/tests/test_learning_engine_idempotent.py
  api/tests/test_unified_pipeline_service.py
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/components/message-list.tsx
  web/src/components/chat/hooks/use-feedback.ts
  web/src/components/ui/rating.test.tsx
  web/src/components/ui/rating.tsx
Due: mypy, pytest-check

Fix chat request cancellation
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/components/chat-input.tsx
  web/src/components/chat/components/human-review-badge.tsx
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/hooks/use-chat-messages.test.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
  web/src/components/chat/hooks/use-escalation-polling.test.tsx
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/components/chat/types/chat.types.ts
Due: none

Stream chat responses
  api/app/channels/gateway.py
  api/app/channels/rag_query.py
  api/app/routes/chat.py
  api/app/services/rag/llm_provider.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/rag/test_llm_provider.py
  api/tests/routes/test_chat_endpoints.py
  api/tests/services/test_rag_service_review_fixes.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  web/src/components/chat/hooks/use-chat-messages.test.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
Due: mypy, pytest-check

Sort chat route imports
  api/app/routes/chat.py
Due: mypy, pytest-check

Address stream review comments
  api/app/channels/gateway.py
  api/app/channels/rag_query.py
  api/app/routes/chat.py
  api/app/services/rag/llm_provider.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/channels/test_rag_query.py
  api/tests/rag/test_llm_provider.py
  api/tests/services/test_rag_service_review_fixes.py
  web/src/components/chat/hooks/use-chat-messages.test.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
Due: mypy, pytest-check

Fix stream metric follow-ups
  api/app/routes/chat.py
  api/app/services/rag/llm_provider.py
  api/tests/rag/test_llm_provider.py
  api/tests/routes/test_chat_endpoints.py
Due: mypy, pytest-check

Fix version detection cleanup
  api/app/services/rag/__init__.py
  api/app/services/rag/bisq_entities.py
  api/app/services/rag/conversation_state.py
  api/app/services/rag/version_detector.py
  api/app/services/simplified_rag_service.py
  api/tests/test_conversation_state.py
  api/tests/test_source_based_protocol_detection.py
  api/tests/test_version_detector.py
Due: mypy, pytest-check

Align no-source detector test
  api/tests/test_source_based_protocol_detection.py
Due: pytest-check

Expose MCP live-data visibility
  api/app/core/config.py
  api/app/main.py
  api/app/routes/health.py
  api/tests/routes/test_health_route.py
  api/tests/test_deployment_scripts.py
  api/tests/test_mcp_visibility.py
  scripts/lib/docker-utils.sh
  scripts/update.sh
Due: mypy, pytest-check

Add MCP smoke curl timeouts
  scripts/lib/docker-utils.sh
Due: none

Complete Phase 10 cleanup
  .claude/docs/retrieval-pipeline.md
  api/app/channels/__init__.py
  api/app/channels/gateway.py
  api/app/channels/lifecycle.py
  api/app/channels/plugins/matrix/channel.py
  api/app/core/config.py
  api/app/main.py
  api/app/services/rag/__init__.py
  api/app/services/rag/evaluation.py
  api/app/services/rag/faq_index_sync.py
  api/app/services/rag/language_pipeline.py
  api/app/services/rag/mcp_reconciliation.py
  api/app/services/rag/protocol_detector.py
  api/app/services/simplified_rag_service.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/channels/test_route_migration.py
  api/tests/test_deployment_scripts.py
  api/tests/test_feature_flags.py
  api/tests/test_protocol_detector.py
  api/tests/test_rag_evaluation.py
  api/tests/test_retrieval_benchmark_harness_gate.py
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/rag-architecture.md
  scripts/lib/common.sh
  scripts/tests/test_env_config.sh
Due: mypy, pytest-check

Address review feedback
  api/app/channels/gateway.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/runtime.py
  api/app/services/rag/faq_index_sync.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/test_channel_gateway.py
  api/tests/channels/test_channel_runtime.py
  api/tests/services/rag/test_rag_incremental_faq_update.py
  api/tests/test_feature_flags.py
Due: mypy, pytest-check

Add Grafana tunnel helper
  docker/.env.example
  docs/monitoring-security.md
  scripts/grafana-tunnel.sh
  scripts/start.sh
Due: none

Add Grafana tunnel keepalive
  scripts/grafana-tunnel.sh
Due: none

Document staff answer alignment verification
  claudedocs/codex-verification-report.md
Due: none

Align support answers with staff safety policy
  api/app/prompts/runtime_policy.py
  api/app/services/rag/prompt_manager.py
  api/app/services/simplified_rag_service.py
  api/tests/rag/test_prompt_manager.py
  api/tests/rag/test_runtime_policy.py
  api/tests/services/test_safety_reflex_enforcement.py
  api/tests/test_rag_service.py
Due: mypy, pytest-check

Add verified Bisq 1 canonical fixes
  api/app/services/rag/canonical_fixes.py
  api/app/services/simplified_rag_service.py
  api/tests/services/rag/test_canonical_fixes.py
  api/tests/services/test_rag_service_review_fixes.py
Due: mypy, pytest-check

Add offline staff alignment behavior gate
  .github/workflows/ci.yml
  .gitignore
  api/app/scripts/retrieval_benchmark_harness.py
  api/app/scripts/run_ragas_evaluation.py
  api/data/evaluation/README.md
  api/tests/fixtures/staff_alignment_behavior.json
  api/tests/scripts/test_staff_alignment_behavior.py
Due: mypy, pytest-check

Extend offline staff answer mining loop
  api/app/scripts/extract_matrix_eval_samples.py
  api/data/evaluation/README.md
  api/tests/fixtures/matrix_staff_alignment_export.json
  api/tests/fixtures/missing_faq_questions.json
  api/tests/scripts/test_extract_matrix_eval_samples.py
Due: mypy, pytest-check

Gate count-only behavior feedback guidance
  api/.env.example
  api/app/core/config.py
  api/app/services/feedback/prompt_optimizer.py
  api/app/services/feedback_service.py
  api/tests/services/test_feedback_divergence_guidance.py
  docker/.env.example
  docker/docker-compose.yml
Due: mypy, pytest-check

Address staff alignment review findings
  .github/workflows/ci.yml
  api/app/prompts/runtime_policy.py
  api/app/services/simplified_rag_service.py
  api/tests/rag/test_runtime_policy.py
  api/tests/services/test_rag_service_review_fixes.py
Due: mypy, pytest-check

Preserve safety warnings during escalation
  api/app/channels/hooks/escalation_hook.py
  api/app/channels/response_dispatcher.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/escalation/test_escalation_hook.py
Due: mypy, pytest-check

Make migrations and feedback stats reliable
  api/app/db/run_migrations.py
  api/app/routes/feedback_routes.py
  api/tests/routes/test_feedback_stats_endpoint.py
  api/tests/test_migrations.py
  claudedocs/codex-repo-review-verification.md
Due: mypy, pytest-check

Enforce CI and deployment safety gates
  .github/workflows/ci.yml
  api/app/main.py
  api/app/routes/health.py
  api/app/services/bisq_mcp_service.py
  api/app/services/rag/colbert_reranker.py
  api/app/services/rag/llm_provider.py
  api/app/services/rag/qdrant_index_manager.py
  api/app/services/training/unified_faq_extractor.py
  api/app/services/translation/language_detector.py
  api/mypy.ini
  api/tests/routes/test_admin_route_auth_invariant.py
  api/tests/test_deployment_scripts.py
  scripts/backup-tor-keys.sh
  scripts/check-health.sh
  scripts/cleanup_old_data.sh
  scripts/deploy.sh
  scripts/lib/common.sh
  scripts/lib/docker-utils.sh
  scripts/lib/git-utils.sh
  scripts/rollback.sh
  scripts/setup-tor.sh
  scripts/start.sh
  scripts/test-tor-security.sh
  scripts/tests/test_env_config.sh
  scripts/tor-health-check.sh
  scripts/update.sh
  scripts/verify-feedback-persistence.sh
Due: mypy, pytest-check

Make monitoring and alert delivery resilient
  api/app/alert_relay.py
  api/app/channels/plugins/matrix/services/alert_service.py
  api/app/core/security.py
  api/app/routes/alertmanager.py
  api/tests/routes/test_admin_access_security.py
  api/tests/test_alert_relay.py
  api/tests/test_alertmanager_webhook.py
  api/tests/test_deployment_scripts.py
  api/tests/test_observability_configuration.py
  docker/alertmanager/alertmanager.yml
  docker/docker-compose.yml
  docker/prometheus/alert_rules.yml
  scripts/deploy.sh
  scripts/lib/common.sh
  scripts/tests/test_env_config.sh
  scripts/update.sh
Due: mypy, pytest-check

Bound costly LLM request admission
  api/.env.example
  api/app/channels/lifecycle.py
  api/app/channels/middleware/__init__.py
  api/app/channels/middleware/rate_limit.py
  api/app/core/config.py
  api/app/main.py
  api/tests/channels/test_middleware.py
  api/tests/test_nginx_llm_rate_limits.py
  docker/.env.example
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docker/nginx/nginx.conf
Due: mypy, pytest-check

Make RAG generation and rebuilds failure-safe
  api/app/core/config.py
  api/app/services/rag/faq_index_sync.py
  api/app/services/rag/qdrant_hybrid_retriever.py
  api/app/services/rag/qdrant_index_manager.py
  api/app/services/simplified_rag_service.py
  api/tests/services/rag/test_context_fallback_concurrency.py
  api/tests/services/rag/test_qdrant_blue_green_rebuild.py
  api/tests/services/rag/test_qdrant_incremental_faq_update.py
  api/tests/services/rag/test_rag_incremental_faq_update.py
  api/tests/test_qdrant_hybrid.py
  docker/docker-compose.yml
Due: mypy, pytest-check

Preserve channel delivery and identity state
  api/app/channels/arbitration/coordinator.py
  api/app/channels/chatops/dispatcher.py
  api/app/channels/inbound_orchestrator.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/bisq2/chatops_adapter.py
  api/app/channels/plugins/bisq2/client/sync_state.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/chatops_adapter.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/plugins/matrix/reaction_handler.py
  api/app/channels/response_dispatcher.py
  api/app/channels/staff.py
  api/app/channels/trust_monitor/evidence_store.py
  api/app/channels/trust_monitor/proactive_persistence.py
  api/app/channels/trust_monitor/publisher.py
  api/app/channels/trust_monitor/service.py
  api/app/services/escalation/escalation_service.py
  api/tests/channels/arbitration/test_coordinator.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/integration/test_staff_resolver_bootstrap.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/channels/plugins/test_bisq2_sync_state.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/plugins/test_matrix_reaction_handler.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/channels/test_route_migration.py
  api/tests/channels/test_staff.py
  api/tests/channels/trust_monitor/test_proactive_persistence.py
  api/tests/channels/trust_monitor/test_publisher.py
  api/tests/channels/trust_monitor/test_trust_monitor_service.py
  api/tests/escalation/test_escalation_service.py
Due: mypy, pytest-check

Document repository review follow-up backlog
  claudedocs/codex-repo-review-backlog.md
Due: none

Fix CI tool-version compatibility
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/rag/llm_wiki_loader.py
  api/mypy.ini
  scripts/backup-tor-keys.sh
  scripts/test-tor-security.sh
Due: mypy, pytest-check

Resolve verified pull request feedback
  .github/workflows/ci.yml
  api/app/alert_relay.py
  api/app/channels/arbitration/coordinator.py
  api/app/channels/plugins/bisq2/client/sync_state.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/trust_monitor/proactive_persistence.py
  api/app/channels/trust_monitor/proactive_scanner.py
  api/app/channels/trust_monitor/publisher.py
  api/app/channels/trust_monitor/service.py
  api/app/core/security.py
  api/app/routes/alertmanager.py
  api/app/services/rag/faq_index_sync.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/arbitration/test_coordinator.py
  api/tests/channels/plugins/test_bisq2_sync_state.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/channels/trust_monitor/test_proactive_persistence.py
  api/tests/channels/trust_monitor/test_proactive_scanner.py
  api/tests/channels/trust_monitor/test_publisher.py
  api/tests/routes/test_admin_access_security.py
  api/tests/routes/test_admin_route_auth_invariant.py
  api/tests/services/rag/test_faq_index_gate.py
  api/tests/services/rag/test_rag_incremental_faq_update.py
  api/tests/test_alert_relay.py
  api/tests/test_alertmanager_webhook.py
  api/tests/test_ci_configuration.py
  api/tests/test_deployment_scripts.py
  api/tests/test_nginx_llm_rate_limits.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  scripts/check-health.sh
Due: mypy, pytest-check

Resolve final pull request review feedback
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/plugins/matrix/trust_monitor_handler.py
  api/app/channels/trust_monitor/executor.py
  api/app/channels/trust_monitor/proactive_persistence.py
  api/app/channels/trust_monitor/publisher.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/plugins/test_matrix_trust_monitor_handler.py
  api/tests/channels/trust_monitor/test_proactive_persistence.py
  api/tests/channels/trust_monitor/test_publisher.py
  api/tests/services/rag/test_context_fallback_concurrency.py
  api/tests/services/rag/test_faq_index_gate.py
  api/tests/services/rag/test_rag_incremental_faq_update.py
Due: mypy, pytest-check

Keep rollback health checks backward compatible
  api/tests/test_deployment_scripts.py
  scripts/lib/docker-utils.sh
Due: pytest-check

Keep production backup paths machine-readable
  api/tests/test_deployment_scripts.py
  scripts/lib/git-utils.sh
Due: pytest-check

Fix Bisq readiness probe gating
  api/app/metrics/task_metrics.py
  api/app/services/bisq_mcp_service.py
  api/app/services/bisq_startup_self_test_service.py
  api/tests/test_bisq_mcp_service.py
  api/tests/test_bisq_startup_self_test_service.py
  api/tests/test_task_metrics_persistence.py
Due: mypy, pytest-check

Fail closed on unsafe answer routing
  api/app/channels/hooks/escalation_hook.py
  api/app/channels/response_dispatcher.py
  api/app/core/config.py
  api/app/prompts/error_messages.py
  api/app/services/rag/llm_provider.py
  api/app/services/rag/mcp_reconciliation.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/plugins/test_bisq2_live_chat_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/escalation/test_escalation_feature_flags.py
  api/tests/rag/test_llm_provider.py
  api/tests/services/rag/test_context_fallback_concurrency.py
  api/tests/services/test_rag_service_review_fixes.py
  api/tests/test_feature_flags.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/rag-architecture.md
Due: mypy, pytest-check
