Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Prevent replayed rating tokens from mutating ratings
  api/app/main.py
  api/app/routes/escalation_polling.py
  api/tests/test_escalation_rating.py
Due: mypy, pytest-check

Mask message identifiers in feedback orchestrator logs
  api/app/services/escalation/feedback_orchestrator.py
Due: mypy, pytest-check

Redact feedback logs and refresh requirements lockfile
  api/app/services/escalation/feedback_orchestrator.py
  api/requirements.txt
Due: mypy, pytest-check

Fix CodeQL log finding and align requirements lockfile
  api/app/services/escalation/feedback_orchestrator.py
  api/requirements.txt
Due: mypy, pytest-check

Remove legacy Matrix env keys and enforce sync/alert config split
  api/.env.example
  api/app/channels/base.py
  api/app/channels/bootstrapper.py
  api/app/channels/plugins/matrix/services/alert_service.py
  api/app/channels/plugins/matrix/services/sync_service.py
  api/app/core/config.py
  api/app/routes/admin/training.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/channels/reactions/test_reaction_integration.py
  api/tests/channels/test_bootstrapper.py
  api/tests/test_matrix_alert_service.py
  api/tests/test_matrix_settings_aliases.py
  api/tests/test_matrix_sync_service.py
  docker/.env.example
  docker/alertmanager/README.md
  docker/docker-compose.yml
  docs/environment-configuration.md
Due: mypy, pytest-check

Address CodeRabbit findings for matrix env cleanup
  api/app/channels/plugins/matrix/services/alert_service.py
  api/app/core/config.py
  api/tests/test_matrix_alert_service.py
  api/tests/test_matrix_settings_aliases.py
  docker/docker-compose.yml
  docker/scripts/test-matrix-session-persistence.sh
  docs/environment-configuration.md
Due: mypy, pytest-check

Fix TrainingSyncStale and ContainerHighMemory false positives
  docker/docker-compose.yml
  docker/prometheus/alert_rules.yml
Due: none

Update librt 0.8.0 to 0.8.1 in requirements lockfile
  api/requirements.txt
Due: none

Fix wiki metrics port bug and widen sync staleness threshold
  docker/prometheus/alert_rules.yml
  docker/scripts/lib/metrics.sh
Due: none

Update dependency versions in requirements lockfile
  api/requirements.txt
Due: none

Fix PR review issues across channel policy and sync flows
  api/.env.example
  api/app/channels/feedback_followup.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/bisq2/client/api.py
  api/app/channels/plugins/bisq2/client/websocket.py
  api/app/channels/plugins/bisq2/reaction_handler.py
  api/app/channels/plugins/bisq2/utils.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/plugins/support_markdown.py
  api/app/channels/policy.py
  api/app/channels/reactions.py
  api/app/channels/services/live_polling_service.py
  api/app/channels/staff.py
  api/app/main.py
  api/app/routes/admin/signals.py
  api/app/services/channel_autoresponse_policy_service.py
  api/app/services/faq/duplicate_guard.py
  api/app/services/feedback_service.py
  api/app/services/mcp/mcp_http_server.py
  api/app/services/training/ingest/bisq2_sync_service.py
  api/app/services/training/ingest/matrix_sync_service.py
  api/app/services/training/unified_faq_extractor.py
  api/requirements.txt
  api/tests/channels/plugins/test_bisq2_live_chat_service.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/channels/plugins/test_bisq2_reaction_handler.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/reactions/test_processor.py
  api/tests/channels/test_escalation_hook.py
  api/tests/contracts/test_reaction_payload_contract.py
  api/tests/integration/test_bisq_api.py
  api/tests/mcp/test_mcp_http_server.py
  api/tests/test_channel_settings_flags.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: mypy, pytest-check

Format admin signals endpoint tests for CI black check
  api/tests/routes/test_admin_signals_endpoints.py
Due: pytest-check

Fix CI isolation and remaining review nitpicks
  api/app/channels/bootstrapper.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/response_dispatcher.py
  api/app/services/mcp/mcp_http_server.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/conftest.py
  api/tests/mcp/test_mcp_http_server.py
Due: mypy, pytest-check

Prevent message loss when generation is disabled
  api/app/channels/services/live_polling_service.py
  api/tests/channels/test_escalation_hook.py
  api/tests/channels/test_live_polling_service.py
Due: mypy, pytest-check

Update requirements lockfile for virtualenv
  api/requirements.txt
Due: none

Sort imports in live polling service tests
  api/tests/channels/test_live_polling_service.py
Due: pytest-check

Harden bisq2 buffering and dispatch error handling
  .pre-commit-config.yaml
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/response_dispatcher.py
  api/app/services/mcp/mcp_http_server.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/channels/test_response_dispatcher.py
  api/tests/mcp/test_mcp_http_server.py
  docker/api/Dockerfile
Due: mypy, pytest-check

Update Docker defaults and rollout docs for multichannel support
  README.md
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
  docker/.env.example
  docker/alertmanager/README.md
  docker/alertmanager/alertmanager.yml
  docker/bisq2-api/start.sh
  docker/docker-compose.local.yml
  docker/docker-compose.yml
  docker/prometheus/alert_rules.yml
  docker/scripts/test-matrix-session-persistence.sh
  docs/environment-configuration.md
  docs/troubleshooting.md
  run-local.sh
Due: none

Fix CodeRabbit findings across env, alerts, and admin UI
  docker/.env.example
  docker/prometheus/alert_rules.yml
  docs/troubleshooting.md
  web/src/__mocks__/react-markdown.tsx
  web/src/app/admin/escalations/page.tsx
  web/src/components/admin/training/BatchReviewList.test.tsx
  web/src/components/admin/training/BatchReviewList.tsx
  web/src/components/admin/training/EmptyQueueState.tsx
  web/src/hooks/useChannelAutoresponsePolicies.ts
Due: none

Fix admin overview queue sync state and uptime display; document Bisq2 auth flow
  docs/environment-configuration.md
  docs/troubleshooting.md
  web/src/app/admin/overview/page.tsx
  web/src/components/admin/overview/OverviewClient.tsx
  web/src/components/admin/overview/types.ts
  web/src/hooks/useOverviewData.ts
Due: none

Polish Bisq2 auth docs based on PR review
  docs/environment-configuration.md
  docs/troubleshooting.md
Due: none

Fix admin API routing and training load burst throttling
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docker/nginx/nginx.conf
  web/src/app/admin/training/page.tsx
Due: none

Address CodeRabbit markdown lint nitpicks in auth docs
  docs/environment-configuration.md
  docs/troubleshooting.md
Due: none

Fix nginx admin route parity test for nested prefixes
  api/tests/test_nginx_admin_routes.py
Due: pytest-check

Redesign duplicate FAQ review dialog for training workflow
  web/src/components/admin/training/DuplicateFAQDialog.tsx
Due: none

Address PR nitpicks in duplicate FAQ dialog
  web/src/components/admin/training/DuplicateFAQDialog.tsx
Due: none

Fix FAQ public API URL composition for SSR and static builds
  web/src/lib/config.test.ts
  web/src/lib/config.ts
  web/src/lib/faqPublicApi.ts
Due: none

Localize escalation staff replies for user-facing delivery and polling
  api/app/main.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/response_delivery.py
  api/tests/escalation/test_escalation_response_delivery.py
  api/tests/routes/test_escalation_endpoints.py
Due: mypy, pytest-check

Stabilize endpoint and FAQ keyboard E2E tests
  web/tests/e2e/endpoint-security.spec.ts
  web/tests/e2e/faq-keyboard-shortcuts.spec.ts
Due: none

Implement multilingual escalation canonicalization and localization pipeline
  api/app/channels/base.py
  api/app/channels/escalation_localization.py
  api/app/channels/hooks/escalation_hook.py
  api/app/channels/models.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/web/channel.py
  api/app/channels/reactions.py
  api/app/channels/response_builder.py
  api/app/channels/response_dispatcher.py
  api/app/core/config.py
  api/app/metrics/__init__.py
  api/app/metrics/translation_metrics.py
  api/app/models/escalation.py
  api/app/routes/admin/signals.py
  api/app/services/escalation/escalation_repository.py
  api/app/services/simplified_rag_service.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/translation/language_detector.py
  api/app/services/translation/translation_service.py
  api/requirements.in
  api/requirements.txt
  api/tests/channels/test_response_dispatcher.py
  api/tests/escalation/test_escalation_hook.py
  api/tests/escalation/test_escalation_repository.py
  api/tests/test_edited_question_text.py
  api/tests/test_multilingual_support.py
  api/tests/test_rag_service.py
  docker/api/Dockerfile
Due: mypy, pytest-check

Refine escalation review UX and localized response rendering in web UI
  web/feedback-detail-dialog.png
  web/src/app/admin/escalations/EscalationReviewPanel.tsx
  web/src/app/admin/escalations/page.tsx
  web/src/components/admin/training/TrainingReviewItem.tsx
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/components/human-closed-section.tsx
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/components/chat/types/chat.types.ts
Due: none

Harden CI torch install and stabilize escalation-aware E2E tests
  .github/workflows/ci.yml
  web/tests/e2e/bisq-version-handling.spec.ts
  web/tests/e2e/conversation-history.spec.ts
Due: none

Address CodeRabbit findings and restore green pre-commit
  api/app/channels/bootstrapper.py
  api/app/channels/escalation_localization.py
  api/app/channels/feedback_followup.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/bisq2/client/websocket.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/plugins/matrix/reaction_handler.py
  api/app/channels/plugins/matrix/room_filter.py
  api/app/channels/plugins/web/channel.py
  api/app/channels/reactions.py
  api/app/channels/response_dispatcher.py
  api/app/core/config.py
  api/app/main.py
  api/app/routes/chat.py
  api/app/routes/escalation_polling.py
  api/app/services/bisq_mcp_service.py
  api/app/services/escalation/escalation_repository.py
  api/app/services/escalation/response_delivery.py
  api/app/services/training/unified_faq_extractor.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/translation/translation_service.py
  api/tests/test_multilingual_support.py
  web/tests/e2e/bisq-version-handling.spec.ts
  web/tests/e2e/endpoint-security.spec.ts
Due: mypy, pytest-check

Regenerate api requirements lockfile in CI-compatible Docker env
  api/requirements.txt
Due: none

Resolve remaining review comments and test hardening fixes
  api/app/channels/escalation_localization.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/core/config.py
  api/app/services/bisq_mcp_service.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/translation/language_detector.py
  web/tests/e2e/endpoint-security.spec.ts
Due: mypy, pytest-check

Address latest review feedback on fallback gating and edit normalization
  api/app/core/config.py
  api/app/services/bisq_mcp_service.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/translation/language_detector.py
Due: mypy, pytest-check

Preserve explicit clear semantics for edited FAQ fields
  api/app/services/training/unified_pipeline_service.py
  api/app/services/training/unified_repository.py
  api/tests/test_edited_question_text.py
Due: mypy, pytest-check

Unify channel inbound orchestration with shared coordination
  api/app/channels/bootstrapper.py
  api/app/channels/coordination.py
  api/app/channels/delivery_planner.py
  api/app/channels/events.py
  api/app/channels/inbound_orchestrator.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/response_dispatcher.py
  api/app/channels/services/live_polling_service.py
  api/app/channels/streaming.py
  api/tests/channels/test_coordination.py
  api/tests/channels/test_delivery_planner.py
  api/tests/channels/test_inbound_orchestrator.py
Due: mypy, pytest-check
