Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

mypy:
  name: Type check Python code with mypy
  entry: bash -c 'cd api && mypy "${@#api/}"' --
  language: system
  pass_filenames: true

pytest-check:
  name: Run fast pytest tests
  entry: bash -c 'cd api && python -m pytest tests/ -m "not slow" -x --tb=short --quiet'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

Remove ChromaDB technical debt and standardize Qdrant-only retrieval
  .gitignore
  README.md
  api/app/core/config.py
  api/app/main.py
  api/app/routes/admin/faqs.py
  api/app/scripts/migrate_to_qdrant.py
  api/app/scripts/record_baseline_metrics.py
  api/app/scripts/retrieval_benchmark_harness.py
  api/app/scripts/run_ragas_evaluation.py
  api/app/services/rag/__init__.py
  api/app/services/rag/chromadb_retriever_adapter.py
  api/app/services/rag/index_state_manager.py
  api/app/services/rag/interfaces.py
  api/app/services/rag/qdrant_index_manager.py
  api/app/services/rag/resilient_retriever.py
  api/app/services/rag/vectorstore_manager.py
  api/app/services/rag/vectorstore_state_manager.py
  api/data/bm25_vocabulary.json
  api/data/evaluation/README.md
  api/data/evaluation/retrieval_strict.lock.json
  api/data/qdrant_index_metadata.json
  api/requirements.in
  api/requirements.txt
  api/tests/test_feature_flags.py
  api/tests/test_vectorstore_manager.py
  api/tests/test_vectorstore_manager_sqlite.py
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/faq_extraction.md
  docs/monitoring-security.md
  docs/rag-architecture.md
  docs/tor-deployment.md
  docs/troubleshooting.md
  scripts/deploy.sh
  scripts/lib/docker-utils.sh
Due: mypy, pytest-check

Document baseline RAGAS comparison metrics across retrieval states
  api/data/evaluation/README.md
Due: none

Regenerate requirements.txt and add evaluation baselines
  api/data/evaluation_results/chromadb_7c75417_ragas30_fixed.json
  api/data/evaluation_results/qdrant_824b7b8_ragas30.json
  api/data/evaluation_results/qdrant_efa7bae_ragas30.json
  api/requirements.txt
Due: none

Wire web reaction pipeline and document architecture
  api/app/channels/reactions.py
  api/app/main.py
  api/app/models/feedback.py
  api/app/routes/_web_identity.py
  api/app/routes/chat.py
  api/app/routes/feedback_routes.py
  api/app/services/feedback/feedback_analyzer.py
  api/app/services/feedback/feedback_weight_manager.py
  api/app/services/feedback_service.py
  api/app/services/rag/auto_send_router.py
  api/tests/channels/reactions/test_handler_contract.py
  api/tests/channels/reactions/test_learning_trigger.py
  api/tests/channels/test_route_migration.py
  api/tests/routes/test_chat_endpoints.py
  api/tests/routes/test_chat_web_tracking.py
  api/tests/routes/test_feedback_react.py
  api/tests/test_auto_send_router.py
  api/tests/test_feedback_analyzer.py
  api/tests/test_feedback_service_unified.py
  api/tests/test_feedback_weight_manager.py
  api/tests/test_learning_engine_wiring.py
  web/src/components/chat/hooks/use-chat-messages.ts
  web/src/components/chat/hooks/use-feedback.ts
  web/tests/e2e/endpoint-security.spec.ts
  web/tests/e2e/feedback-submission.spec.ts
  web/tests/e2e/source-tracking.spec.ts
Due: mypy, pytest-check

Extract QAPair to shared models and delete orphan
  api/app/core/matrix_validation.py
  api/app/models/training.py
  api/app/services/training/__init__.py
  api/app/services/training/matrix_export_parser.py
  api/app/services/training/substantive_filter.py
  api/tests/models/test_training_models.py
  api/tests/test_substantive_filter.py
Due: mypy, pytest-check

Consolidate Bisq2 channel into self-contained domain module
  api/app/channels/config.py
  api/app/channels/plugins/bisq2/client/__init__.py
  api/app/channels/plugins/bisq2/client/api.py
  api/app/channels/plugins/bisq2/client/sync_state.py
  api/app/channels/plugins/bisq2/client/websocket.py
  api/app/channels/plugins/bisq2/config.py
  api/app/channels/plugins/bisq2/services/__init__.py
  api/app/channels/plugins/bisq2/services/sync_service.py
  api/app/routes/admin/training.py
  api/app/services/training/__init__.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/channels/plugins/test_bisq2_imports.py
  api/tests/escalation/test_escalation_bisq2_websocket.py
  api/tests/integration/test_bisq2_websocket.py
  api/tests/integration/test_bisq_api.py
  api/tests/test_bisq_sync_deduplication.py
Due: mypy, pytest-check

Consolidate Matrix client layer into channel domain module
  api/app/channels/plugins/matrix/client/__init__.py
  api/app/channels/plugins/matrix/client/connection_manager.py
  api/app/channels/plugins/matrix/client/error_handler.py
  api/app/channels/plugins/matrix/client/polling_state.py
  api/app/channels/plugins/matrix/client/session_manager.py
  api/app/channels/plugins/matrix/metrics.py
  api/app/integrations/matrix/__init__.py
  api/app/metrics/__init__.py
  api/app/routes/admin/training.py
  api/app/services/alerting/matrix_alert_service.py
  api/app/services/training/matrix_sync_service.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/channels/plugins/test_matrix_imports.py
  api/tests/test_matrix_alert_service.py
  api/tests/test_matrix_connection_manager.py
  api/tests/test_matrix_error_handler.py
  api/tests/test_matrix_polling.py
  api/tests/test_matrix_session_manager.py
Due: mypy, pytest-check

Consolidate Matrix services into channel domain module
  api/app/channels/config.py
  api/app/channels/plugins/matrix/config.py
  api/app/channels/plugins/matrix/services/__init__.py
  api/app/channels/plugins/matrix/services/alert_service.py
  api/app/channels/plugins/matrix/services/export_parser.py
  api/app/channels/plugins/matrix/services/sync_service.py
  api/app/main.py
  api/app/routes/admin/training.py
  api/app/services/alerting/__init__.py
  api/app/services/training/__init__.py
  api/app/services/training/unified_pipeline_service.py
  api/scripts/prototype_auto_training.py
  api/tests/channels/plugins/test_matrix_imports.py
  api/tests/test_matrix_alert_service.py
  api/tests/test_matrix_export_parser.py
  api/tests/test_matrix_sync_service.py
Due: mypy, pytest-check

Complete channel domain module consolidation
  api/app/channels/config.py
  api/app/channels/plugins/web/config.py
  api/app/channels/plugins/web/identity.py
  api/app/integrations/matrix/__init__.py
  api/app/routes/chat.py
  api/app/routes/feedback_routes.py
  api/app/services/alerting/__init__.py
  api/tests/channels/plugins/test_web_imports.py
  api/tests/channels/test_route_migration.py
Due: mypy, pytest-check

Fix E2E test selectors to match current admin UI
  web/tests/e2e/conversation-history.spec.ts
  web/tests/e2e/faq-keyboard-shortcuts.spec.ts
  web/tests/e2e/faq-management.spec.ts
  web/tests/e2e/faq-ui-improvements.spec.ts
  web/tests/e2e/feedback-submission.spec.ts
  web/tests/e2e/similar-faq-check.spec.ts
  web/tests/e2e/utils/helpers.ts
Due: none

Apply black and isort formatting across codebase
  api/tests/channels/plugins/test_matrix_imports.py
Due: pytest-check

Remove unused PII filter and detection modules
  api/app/core/pii_filter.py
  api/app/utils/pii_detection.py
Due: mypy, pytest-check

Remove dead code and consolidate PII redaction
  api/app/core/pii_utils.py
  api/app/services/rag/cached_embeddings.py
  api/app/services/rag/performance_monitor.py
  api/app/services/rag/prompt_manager.py
  api/app/services/rag/query_cache.py
  api/app/services/rag/vocabulary_manager.py
  api/app/services/simplified_rag_service.py
  api/app/services/training/message_normalizer.py
  api/app/utils/logging.py
  api/tests/test_bm25_critical_fixes.py
  api/tests/test_bm25_rag_integration.py
  api/tests/test_bm25_vocabulary_update.py
  api/tests/test_caching_layer.py
  api/tests/test_performance_monitoring.py
Due: mypy, pytest-check

Update requirements.txt with latest dependency versions
  api/requirements.txt
Due: none

Fix 5 UX bugs in feedback, confidence, and escalation pipeline
  api/app/routes/chat.py
  api/app/routes/escalation_polling.py
  web/src/app/admin/manage-feedback/page.tsx
  web/src/components/chat/components/confidence-badge.tsx
  web/src/components/chat/components/message-item.tsx
Due: mypy, pytest-check

Add reaction-based feedback and multi-channel support
  api/app/channels/hooks/escalation_hook.py
  api/app/channels/models.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/reactions.py
  api/app/channels/response_builder.py
  api/app/main.py
  api/app/models/feedback.py
  api/app/routes/feedback_routes.py
  api/app/services/dashboard_service.py
  api/app/services/rag/routing_reason_generator.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/reactions/test_learning_trigger.py
  api/tests/channels/reactions/test_processor.py
  api/tests/channels/reactions/test_tracker.py
  api/tests/channels/test_escalation_hook.py
  api/tests/channels/test_response_builder.py
  api/tests/routes/test_feedback_react.py
  api/tests/services/rag/__init__.py
  api/tests/services/rag/test_routing_reason_generator.py
  api/tests/services/rag/test_routing_reason_integration.py
  api/tests/test_escalation_metrics.py
  api/tests/test_feedback_service_unified.py
  web/src/components/chat/hooks/use-feedback.ts
  web/src/components/chat/types/chat.types.ts
Due: mypy, pytest-check

Add soul personality layer with centralized error messages
  api/app/prompts/__init__.py
  api/app/prompts/error_messages.py
  api/app/prompts/soul.py
  api/app/prompts/soul_default.md
  api/app/services/rag/prompt_manager.py
  api/app/services/simplified_rag_service.py
  api/data/evaluation/README.md
  api/data/evaluation/qdrant_soul_layer_evaluation.json
  api/tests/rag/test_error_messages.py
  api/tests/rag/test_prompt_manager.py
  api/tests/rag/test_soul.py
  api/tests/test_rag_service.py
Due: mypy, pytest-check

Fix nginx 403 on escalations and 500 on duplicate FAQ
  api/app/routes/admin/training.py
  api/tests/routes/test_training_duplicate_faq.py
  api/tests/test_nginx_admin_routes.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: mypy, pytest-check

Add force-approve and fix frontend 409 crash
  api/app/routes/admin/training.py
  api/app/services/training/unified_pipeline_service.py
  api/requirements.txt
  api/tests/routes/test_training_duplicate_faq.py
  api/tests/test_nginx_admin_routes.py
  api/tests/test_unified_training_routes.py
  web/src/app/admin/training/page.tsx
  web/src/components/admin/training/DuplicateFAQDialog.tsx
Due: mypy, pytest-check

Add pre-retrieval query rewriting for RAG pipeline
  api/app/core/config.py
  api/app/scripts/run_ragas_evaluation.py
  api/app/services/rag/bisq_entities.py
  api/app/services/rag/protocol_detector.py
  api/app/services/rag/query_context.py
  api/app/services/rag/query_rewriter.py
  api/app/services/simplified_rag_service.py
  api/data/evaluation/expanded_keywords_evaluation.json
  api/data/evaluation/implicit_protocol_evaluation.json
  api/data/evaluation/implicit_protocol_samples_20.json
  api/data/evaluation/query_rewriter_samples_15.json
  api/data/evaluation/rewriter_baseline_evaluation.json
  api/data/evaluation/rewriter_enabled_evaluation.json
  api/tests/services/rag/conftest.py
  api/tests/services/rag/test_bisq_entities.py
  api/tests/services/rag/test_query_context.py
  api/tests/services/rag/test_query_rewriter.py
  api/tests/test_source_based_protocol_detection.py
Due: mypy, pytest-check

Address CodeRabbitAI review feedback
  api/app/services/rag/bisq_entities.py
  api/app/services/rag/query_rewriter.py
  api/tests/services/rag/test_query_rewriter.py
Due: mypy, pytest-check

Update documentation for query rewriting pipeline
  .claude/docs/retrieval-pipeline.md
  api/data/evaluation/README.md
  docs/rag-architecture.md
Due: none

Add ack skipping and revert question-first format
  api/app/services/rag/query_context.py
  api/app/services/rag/query_rewriter.py
  api/data/evaluation/README.md
  api/data/evaluation/rewriter_improved_evaluation.json
  api/data/evaluation/rewriter_v3_evaluation.json
  api/tests/services/rag/test_query_context.py
  api/tests/services/rag/test_query_rewriter.py
Due: mypy, pytest-check

Strip ack prefix from substantive topic messages
  api/app/services/rag/query_context.py
  api/data/evaluation/README.md
  api/data/evaluation/rewriter_v4_evaluation.json
  api/tests/services/rag/test_query_context.py
Due: mypy, pytest-check

Fix stale cache latency in query rewriter
  .claude/docs/retrieval-pipeline.md
  api/app/services/rag/query_rewriter.py
Due: mypy, pytest-check

Add pre-retrieval query rewriting for RAG pipeline
  .claude/docs/retrieval-pipeline.md
  api/app/core/config.py
  api/app/scripts/run_ragas_evaluation.py
  api/app/services/rag/bisq_entities.py
  api/app/services/rag/protocol_detector.py
  api/app/services/rag/query_context.py
  api/app/services/rag/query_rewriter.py
  api/app/services/simplified_rag_service.py
  api/data/evaluation/README.md
  api/data/evaluation/expanded_keywords_evaluation.json
  api/data/evaluation/implicit_protocol_evaluation.json
  api/data/evaluation/implicit_protocol_samples_20.json
  api/data/evaluation/query_rewriter_samples_15.json
  api/data/evaluation/rewriter_baseline_evaluation.json
  api/data/evaluation/rewriter_enabled_evaluation.json
  api/data/evaluation/rewriter_improved_evaluation.json
  api/data/evaluation/rewriter_v3_evaluation.json
  api/data/evaluation/rewriter_v4_evaluation.json
  api/requirements.txt
  api/tests/services/rag/conftest.py
  api/tests/services/rag/test_bisq_entities.py
  api/tests/services/rag/test_query_context.py
  api/tests/services/rag/test_query_rewriter.py
  api/tests/test_source_based_protocol_detection.py
  docs/rag-architecture.md
Due: mypy, pytest-check

Increase admin rate limit burst to prevent 429
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Update pydantic-settings 2.12.0 to 2.13.0
  api/requirements.txt
Due: none

Increase admin rate limit burst to prevent 429 (#145)
  api/requirements.txt
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Add staff response markdown rendering, rating, and escalation UI cleanup
  api/app/db/escalation_migrations/004_add_staff_answer_rating.sql
  api/app/db/escalation_migrations/004_add_staff_answer_rating_down.sql
  api/app/models/escalation.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/escalation_repository.py
  api/tests/test_escalation_rating.py
  web/src/app/globals.css
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/components/human-response-section.tsx
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/components/message-list.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/components/chat/types/chat.types.ts
  web/src/components/ui/rating.tsx
Due: mypy, pytest-check

Address CodeRabbit review comments
  api/app/db/escalation_migrations/004_add_staff_answer_rating_down.sql
  web/src/components/chat/chat-interface.tsx
Due: none

Add staff response markdown, rating, and escalation UI cleanup (#146)
  api/app/db/escalation_migrations/004_add_staff_answer_rating.sql
  api/app/db/escalation_migrations/004_add_staff_answer_rating_down.sql
  api/app/models/escalation.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/escalation_repository.py
  api/tests/test_escalation_rating.py
  web/src/app/globals.css
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/components/human-response-section.tsx
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/components/message-list.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/components/chat/types/chat.types.ts
  web/src/components/ui/rating.tsx
Due: mypy, pytest-check

Stabilize feedback submission E2E flows and selectors
  web/tests/e2e/feedback-submission.spec.ts
  web/tests/e2e/utils/env.ts
  web/tests/e2e/utils/helpers.ts
Due: none

Implement escalation feedback loop updates across API and web
  api/app/core/config.py
  api/app/main.py
  api/app/models/escalation.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/escalation_repository.py
  api/app/services/escalation/escalation_service.py
  api/app/services/escalation/feedback_metrics.py
  api/app/services/escalation/feedback_orchestrator.py
  api/app/services/escalation/rating_token.py
  api/app/services/feedback/feedback_weight_manager.py
  api/app/services/rag/learning_engine.py
  api/requirements.txt
  api/tests/escalation/test_escalation_repository.py
  api/tests/test_escalation_rating.py
  api/tests/test_escalation_rating_token.py
  api/tests/test_feedback_metrics.py
  api/tests/test_feedback_orchestrator.py
  api/tests/test_learning_engine_idempotent.py
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/components/chat/types/chat.types.ts
  web/tests/e2e/escalation-rating-token.spec.ts
Due: mypy, pytest-check

Address CodeRabbit nitpicks in feedback submission E2E
  web/tests/e2e/feedback-submission.spec.ts
Due: none

Address CodeRabbit follow-up issues across token and chat flow
  api/app/main.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/feedback_orchestrator.py
  api/app/services/escalation/rating_token.py
  api/tests/test_escalation_rating_token.py
  api/tests/test_feedback_metrics.py
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/components/human-response-section.tsx
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/components/message-list.tsx
Due: mypy, pytest-check

Fix feedback E2E serial flow and timeout stability
  web/tests/e2e/feedback-submission.spec.ts
Due: none

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$

