Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Score review drafts in quality gate
  .github/workflows/ai-quality-gate.yml
  api/app/channels/constants.py
  api/app/channels/response_dispatcher.py
  api/app/scripts/release_ai_quality_gate.py
  api/app/scripts/release_ai_quality_report.py
  api/tests/scripts/test_release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_report.py
  api/tests/test_release_ai_quality_gate_configuration.py
  docs/release-ai-quality-gate.md
Due: mypy, pytest-check

Address quality gate feedback
  api/app/scripts/release_ai_quality_gate.py
  api/requirements.in
  api/requirements.txt
  api/tests/scripts/test_release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_report.py
  docs/release-ai-quality-gate.md
Due: mypy, pytest-check

Update vulnerable web dependency
  web/package-lock.json
  web/package.json
Due: none

Score review drafts in quality gate
  .github/workflows/ai-quality-gate.yml
  api/app/channels/constants.py
  api/app/channels/response_dispatcher.py
  api/app/scripts/release_ai_quality_gate.py
  api/app/scripts/release_ai_quality_report.py
  api/requirements.in
  api/requirements.txt
  api/tests/scripts/test_release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_report.py
  api/tests/test_release_ai_quality_gate_configuration.py
  docs/release-ai-quality-gate.md
  web/package-lock.json
  web/package.json
Due: mypy, pytest-check

Enforce static safety warning policy
  api/app/channels/gateway.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/services/test_safety_reflex_enforcement.py
Due: mypy, pytest-check

Prevent false-positive scam warnings (#231)
  api/app/channels/gateway.py
  api/app/services/simplified_rag_service.py
  api/tests/channels/test_channel_gateway.py
  api/tests/services/test_safety_reflex_enforcement.py
Due: mypy, pytest-check

Fail closed on escalation write failures
  api/app/channels/hooks/escalation_hook.py
  api/tests/channels/test_escalation_hook.py
  api/tests/channels/test_route_migration.py
  api/tests/escalation/test_escalation_hook.py
Due: mypy, pytest-check

Fail closed on escalation write failures (#232)
  api/app/channels/hooks/escalation_hook.py
  api/tests/channels/test_escalation_hook.py
  api/tests/channels/test_route_migration.py
  api/tests/escalation/test_escalation_hook.py
Due: mypy, pytest-check

Add scheduler retention preview setting
  api/tests/test_scheduler_scripts.py
  docker/docker-compose.yml
  docker/scripts/privacy-retention.sh
  docs/runbooks/privacy-retention.md
Due: pytest-check

Fix deployment image and CI checks
  .github/workflows/ci.yml
  docker/api/Dockerfile
Due: none

Refresh available Alpine OpenSSL pins
  api/tests/test_release_governance.py
  docker/web/Dockerfile
Due: pytest-check

Update vulnerable web runtime dependencies
  web/package-lock.json
  web/package.json
Due: none

Preserve history and refresh deployment builds (#233)
  .github/workflows/ci.yml
  api/tests/test_release_governance.py
  api/tests/test_scheduler_scripts.py
  docker/api/Dockerfile
  docker/docker-compose.yml
  docker/scripts/privacy-retention.sh
  docker/web/Dockerfile
  docs/runbooks/privacy-retention.md
  web/package-lock.json
  web/package.json
Due: pytest-check

Restore umask after lifecycle lock creation
  api/tests/test_deployment_scripts.py
  scripts/lib/common.sh
Due: pytest-check

Restore umask after lifecycle lock creation (#234)
  api/tests/test_deployment_scripts.py
  scripts/lib/common.sh
Due: pytest-check

Refresh rebased Bisq support API pin
  docker/bisq2-api/Dockerfile
Due: none

Refresh rebased Bisq support API pin (#235)
  docker/bisq2-api/Dockerfile
Due: none

Improve protocol evidence and answer review
  api/app/scripts/process_wiki_dump.py
  api/app/scripts/replay_comparison_review.py
  api/app/services/rag/document_retriever.py
  api/app/services/rag/protocol_detector.py
  api/app/services/training/comparison_engine.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/wiki_metadata.py
  api/app/services/wiki_service.py
  api/tests/services/test_wiki_protocol_metadata.py
  api/tests/services/training/test_context_review.py
  api/tests/test_protocol_detector.py
  api/tests/test_unified_pipeline_service.py
Due: mypy, pytest-check

Preserve admin paths with session cookies
  api/tests/test_nginx_admin_proxy.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/snippets/application-routes.prod.conf
Due: pytest-check

Validate review scores and comparison intent
  api/app/services/rag/protocol_detector.py
  api/app/services/training/comparison_engine.py
  api/tests/services/training/test_context_review.py
  api/tests/test_protocol_detector.py
  api/tests/test_unified_pipeline_service.py
Due: mypy, pytest-check

Improve protocol evidence and answer review (#236)
  api/app/scripts/process_wiki_dump.py
  api/app/scripts/replay_comparison_review.py
  api/app/services/rag/document_retriever.py
  api/app/services/rag/protocol_detector.py
  api/app/services/training/comparison_engine.py
  api/app/services/training/unified_pipeline_service.py
  api/app/services/wiki_metadata.py
  api/app/services/wiki_service.py
  api/tests/services/test_wiki_protocol_metadata.py
  api/tests/services/training/test_context_review.py
  api/tests/test_nginx_admin_proxy.py
  api/tests/test_protocol_detector.py
  api/tests/test_unified_pipeline_service.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/snippets/application-routes.prod.conf
Due: mypy, pytest-check

Preserve reviewed support knowledge
  api/data/knowledge/llm_wiki/pages/bisq-backup-basics.md
  api/data/knowledge/llm_wiki/pages/bisq-installation-update-signatures.md
  api/data/knowledge/llm_wiki/pages/bisq-support-privacy-safety.md
  api/data/knowledge/llm_wiki/pages/bisq1-account-signing-limits.md
  api/data/knowledge/llm_wiki/pages/bisq1-bitcoin-transaction-status.md
  api/data/knowledge/llm_wiki/pages/bisq1-bsq-fee-payment.md
  api/data/knowledge/llm_wiki/pages/bisq1-bsq-swaps.md
  api/data/knowledge/llm_wiki/pages/bisq1-build-jdk.md
  api/data/knowledge/llm_wiki/pages/bisq1-dao-dpt-state-error.md
  api/data/knowledge/llm_wiki/pages/bisq1-data-directory-wallet-recovery.md
  api/data/knowledge/llm_wiki/pages/bisq1-deposit-confirmed-stuck.md
  api/data/knowledge/llm_wiki/pages/bisq1-dispute-mediation-arbitration.md
  api/data/knowledge/llm_wiki/pages/bisq1-failed-trade-fees.md
  api/data/knowledge/llm_wiki/pages/bisq1-fiat-stablecoin-routing.md
  api/data/knowledge/llm_wiki/pages/bisq1-mail-payment-details.md
  api/data/knowledge/llm_wiki/pages/bisq1-monero-account-confirmation.md
  api/data/knowledge/llm_wiki/pages/bisq1-network-tor-price-feed.md
  api/data/knowledge/llm_wiki/pages/bisq1-offer-fee-tx-not-found.md
  api/data/knowledge/llm_wiki/pages/bisq1-offer-pricing-and-timing.md
  api/data/knowledge/llm_wiki/pages/bisq1-payment-method-checks.md
  api/data/knowledge/llm_wiki/pages/bisq1-payout-output-inconsistency.md
  api/data/knowledge/llm_wiki/pages/bisq1-sepa-payment-name-proof.md
  api/data/knowledge/llm_wiki/pages/bisq1-trade-funding-security-deposits.md
  api/data/knowledge/llm_wiki/pages/bisq1-transaction-privacy.md
  api/data/knowledge/llm_wiki/pages/bisq1-wallet-spv-balance.md
  api/data/knowledge/llm_wiki/pages/bisq2-btc-only-altcoin-path.md
  api/data/knowledge/llm_wiki/pages/bisq2-easy-mediation-and-risk.md
  api/data/knowledge/llm_wiki/pages/bisq2-overview-trade-totals.md
  api/data/knowledge/llm_wiki/pages/bisq2-profile-data-recovery.md
  api/data/knowledge/llm_wiki/pages/bisq2-reputation-basics.md
  api/data/knowledge/llm_wiki/pages/bisq2-startup-network-notifications.md
  api/data/knowledge/llm_wiki/pages/bisq2-wallet-lightning-onchain.md
  api/data/knowledge/llm_wiki/pages/bitcoin-transaction-rebroadcast.md
  api/data/knowledge/llm_wiki/pages/payment-method-and-price-checks.md
Due: none

Validate reviewed public source references
  api/tests/services/rag/test_llm_wiki_seed_pages.py
Due: pytest-check

Add Astra Responses answer generation
  api/app/core/config.py
  api/app/main.py
  api/app/services/rag/llm_provider.py
  api/app/services/rag/openai_responses.py
  api/app/services/rag/prompt_manager.py
  api/app/services/simplified_rag_service.py
  api/tests/rag/test_llm_provider.py
  api/tests/rag/test_openai_responses.py
  api/tests/rag/test_prompt_manager.py
  api/tests/services/rag/test_context_fallback_concurrency.py
  api/tests/test_answer_translation_config.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
Due: mypy, pytest-check

Clarify costs and log safe failure diagnostics
  api/app/core/config.py
  api/app/services/rag/openai_responses.py
  api/tests/rag/test_openai_responses.py
  docker/.env.example
  docs/environment-configuration.md
Due: mypy, pytest-check

Add Astra Responses answer generation (#237)
  api/app/core/config.py
  api/app/main.py
  api/app/services/rag/llm_provider.py
  api/app/services/rag/openai_responses.py
  api/app/services/rag/prompt_manager.py
  api/app/services/simplified_rag_service.py
  api/tests/rag/test_llm_provider.py
  api/tests/rag/test_openai_responses.py
  api/tests/rag/test_prompt_manager.py
  api/tests/services/rag/test_context_fallback_concurrency.py
  api/tests/test_answer_translation_config.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
Due: mypy, pytest-check

Fix escalation guidance and price checks
  api/app/prompts/runtime_policy.py
  api/app/scripts/release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_gate.py
Due: mypy, pytest-check

Keep human handoffs brief and version neutral
  api/app/prompts/runtime_policy.py
Due: mypy, pytest-check

Fix escalation guidance and price checks (#239)
  api/app/prompts/runtime_policy.py
  api/app/scripts/release_ai_quality_gate.py
  api/tests/scripts/test_release_ai_quality_gate.py
Due: mypy, pytest-check

Validate queued deployment smoke drafts
  api/app/scripts/validate_deployment_chat.py
  api/tests/scripts/test_validate_deployment_chat.py
  api/tests/test_deployment_scripts.py
  scripts/lib/docker-utils.sh
Due: mypy, pytest-check

Validate queued deployment smoke drafts (#240)
  api/app/scripts/validate_deployment_chat.py
  api/tests/scripts/test_validate_deployment_chat.py
  api/tests/test_deployment_scripts.py
  scripts/lib/docker-utils.sh
Due: mypy, pytest-check

Scope Matrix replies and product comparisons
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/chatops_adapter.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/plugins/matrix/reaction_handler.py
  api/app/channels/plugins/matrix/room_filter.py
  api/app/core/config.py
  api/app/services/rag/document_retriever.py
  api/tests/channels/plugins/test_matrix_chatops_adapter.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/plugins/test_matrix_reaction_handler.py
  api/tests/channels/plugins/test_matrix_responder_scope.py
  api/tests/services/test_rag_service_review_fixes.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/staff-room-matrix-workflow.md
Due: mypy, pytest-check

Update AnyIO for TLS certificate fix
  api/requirements.in
  api/requirements.txt
Due: none

Scope Matrix replies and product comparisons (#241)
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/chatops_adapter.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/plugins/matrix/reaction_handler.py
  api/app/channels/plugins/matrix/room_filter.py
  api/app/core/config.py
  api/app/services/rag/document_retriever.py
  api/requirements.in
  api/requirements.txt
  api/tests/channels/plugins/test_matrix_chatops_adapter.py
  api/tests/channels/plugins/test_matrix_message_handler.py
  api/tests/channels/plugins/test_matrix_plugin.py
  api/tests/channels/plugins/test_matrix_reaction_handler.py
  api/tests/channels/plugins/test_matrix_responder_scope.py
  api/tests/services/test_rag_service_review_fixes.py
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
  docs/staff-room-matrix-workflow.md
Due: mypy, pytest-check

Answer before asking for product context
  api/app/prompts/runtime_policy.py
  api/app/services/rag/document_retriever.py
  api/app/services/simplified_rag_service.py
  api/tests/fixtures/staff_alignment_behavior.json
  api/tests/rag/test_prompt_manager.py
  api/tests/rag/test_runtime_policy.py
  api/tests/rag/test_unknown_product_retrieval.py
  api/tests/scripts/test_staff_alignment_behavior.py
  api/tests/services/test_rag_service_review_fixes.py
  api/tests/services/test_safety_reflex_enforcement.py
  api/tests/test_bisq_version_handling.py
  api/tests/test_rag_service.py
Due: mypy, pytest-check

Cover contact wording and retrieval scope
  api/app/prompts/runtime_policy.py
  api/tests/rag/test_runtime_policy.py
  api/tests/rag/test_unknown_product_retrieval.py
Due: mypy, pytest-check

Require context before recovery advice
  api/app/prompts/runtime_policy.py
  api/tests/rag/test_prompt_manager.py
Due: mypy, pytest-check

Require context before recovery advice (#243)
  api/app/prompts/runtime_policy.py
  api/tests/rag/test_prompt_manager.py
Due: mypy, pytest-check

Preserve supported mediation referrals
  api/app/prompts/runtime_policy.py
  api/tests/rag/test_prompt_manager.py
Due: mypy, pytest-check
