Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

mypy:
  name: Type check Python code with mypy
  entry: bash -c 'cd api && mypy "${@#api/}"' --
  language: system
  pass_filenames: true

pytest-check:
  name: Run fast pytest tests
  entry: bash -c 'cd api && python -m pytest tests/ -m "not slow" -x --tb=short --quiet'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

Fix remaining CodeRabbit findings in chat routing
  api/app/channels/response_builder.py
  api/app/routes/chat.py
  api/tests/channels/test_base_handle_incoming.py
  api/tests/channels/test_route_migration.py
Due: mypy, pytest-check

Fix chat hydration for persisted message history
  web/src/components/chat/hooks/use-chat-messages.ts
Due: none

Address CodeRabbit review feedback for channel robustness
  api/app/channels/bootstrapper.py
  api/app/channels/lifecycle.py
  api/app/channels/models.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/registry.py
  api/app/channels/response_builder.py
  api/app/channels/security.py
  api/app/routes/chat.py
  api/tests/channels/test_base_handle_incoming.py
  api/tests/channels/test_channel_registry.py
  api/tests/channels/test_route_migration.py
  api/tests/channels/test_security.py
  web/src/components/chat/hooks/use-chat-messages.ts
Due: mypy, pytest-check

Improve chat hook robustness and stabilize E2E helpers
  web/src/components/chat/hooks/use-chat-messages.ts
  web/tests/e2e/bisq-version-handling.spec.ts
  web/tests/e2e/utils/helpers.ts
Due: none

Add reaction feedback models, tracker, and processor
  api/app/channels/reactions.py
  api/tests/channels/reactions/__init__.py
  api/tests/channels/reactions/test_handler_base.py
  api/tests/channels/reactions/test_handler_contract.py
  api/tests/channels/reactions/test_models.py
  api/tests/channels/reactions/test_tracker.py
  api/tests/contracts/__init__.py
  api/tests/db/__init__.py
  api/tests/integration/__init__.py
  api/tests/services/__init__.py
Due: mypy, pytest-check

Add processor tests for identity hashing and untracked telemetry
  api/tests/channels/reactions/test_processor.py
Due: pytest-check

Extend feedback models and channel config for reaction support
  api/app/channels/config.py
  api/app/models/feedback.py
  api/tests/channels/test_channel_config.py
  api/tests/models/__init__.py
  api/tests/models/test_feedback_multichannel.py
Due: mypy, pytest-check

Add reaction feedback DB migration, repository, and service layer
  api/app/db/migrations/003_add_reaction_feedback.sql
  api/app/db/migrations/003_add_reaction_feedback_down.sql
  api/app/db/repository.py
  api/app/services/feedback_service.py
  api/tests/db/test_feedback_migration.py
  api/tests/services/test_feedback_service_multichannel.py
Due: mypy, pytest-check

Add Matrix reaction handler with nio callback integration
  api/app/channels/plugins/matrix/reaction_handler.py
  api/tests/channels/plugins/test_matrix_reaction_handler.py
Due: mypy, pytest-check

Wire Matrix channel with reaction support and message tracking
  api/app/channels/base.py
  api/app/channels/gateway.py
  api/app/channels/models.py
  api/app/channels/plugins/matrix/channel.py
  api/tests/channels/reactions/test_reaction_integration.py
Due: mypy, pytest-check

Add Bisq2 WebSocket client for real-time event subscriptions
  api/app/integrations/bisq2_websocket.py
  api/tests/integration/test_bisq2_websocket.py
Due: mypy, pytest-check

Add Bisq2 reaction handler with WebSocket subscription
  api/app/channels/plugins/bisq2/reaction_handler.py
  api/tests/channels/plugins/test_bisq2_reaction_handler.py
Due: mypy, pytest-check

Add Bisq2 REST send methods and rewrite send_message
  api/app/channels/plugins/bisq2/channel.py
  api/app/integrations/bisq_api.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/channels/reactions/test_reaction_integration.py
  api/tests/integration/test_bisq_api.py
Due: mypy, pytest-check

Wire reaction services in channel bootstrapper
  api/app/channels/__init__.py
  api/app/channels/bootstrapper.py
  api/tests/channels/reactions/test_reaction_integration.py
Due: mypy, pytest-check

Add channel and method filters to admin feedback routes
  api/app/routes/admin/feedback.py
  api/app/services/feedback/feedback_filters.py
  api/tests/test_feedback_routes.py
Due: mypy, pytest-check

Add channel filter, badges, and stats to admin feedback UI
  web/src/app/admin/manage-feedback/page.tsx
Due: none

Add cross-repo contract tests for Python-Java payloads
  api/tests/contracts/test_reaction_payload_contract.py
Due: pytest-check

Improve feedback management UI with design audit fixes
  web/src/app/admin/manage-feedback/page.tsx
Due: none

Address CodeRabbit review findings across channels and E2E
  api/app/channels/bootstrapper.py
  api/app/channels/config.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/matrix/reaction_handler.py
  api/app/channels/reactions.py
  api/app/db/repository.py
  api/app/integrations/bisq2_websocket.py
  api/app/services/feedback_service.py
  api/requirements.txt
  api/tests/channels/plugins/test_matrix_reaction_handler.py
  api/tests/channels/test_channel_config.py
  api/tests/contracts/test_reaction_payload_contract.py
  api/tests/db/test_feedback_migration.py
  api/tests/integration/test_bisq2_websocket.py
  web/src/app/admin/manage-feedback/page.tsx
Due: mypy, pytest-check

Address CodeRabbit round-2 review findings
  api/app/channels/reactions.py
  api/app/db/repository.py
  api/tests/channels/reactions/test_processor.py
Due: mypy, pytest-check

Raise on missing FeedbackService in _store_feedback
  api/app/channels/reactions.py
  api/tests/channels/reactions/test_processor.py
Due: mypy, pytest-check

Wire requires_human flag in RAGService response
  api/app/services/simplified_rag_service.py
  api/tests/escalation/__init__.py
  api/tests/escalation/test_escalation_upstream.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: mypy, pytest-check

Add escalation abstract methods to ChannelBase
  api/app/channels/base.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/web/channel.py
  api/tests/channels/test_base_handle_incoming.py
  api/tests/channels/test_bootstrapper.py
  api/tests/channels/test_channel_plugin_abc.py
  api/tests/escalation/test_escalation_upstream.py
Due: mypy, pytest-check

Add escalation lifecycle decisions ADR
  claudedocs/adr/escalation-lifecycle-decisions.md
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: none

Add escalation data layer with models and repository
  api/app/models/escalation.py
  api/app/services/escalation/__init__.py
  api/app/services/escalation/escalation_repository.py
  api/tests/escalation/conftest.py
  api/tests/escalation/test_escalation_models.py
  api/tests/escalation/test_escalation_repository.py
Due: mypy, pytest-check

Add escalation service layer with lifecycle orchestration
  api/app/models/escalation.py
  api/app/services/escalation/escalation_service.py
  api/tests/escalation/test_escalation_concurrency.py
  api/tests/escalation/test_escalation_service.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: mypy, pytest-check

Add EscalationPostHook and convert hooks to package
  api/app/channels/hooks/__init__.py
  api/app/channels/hooks/escalation_hook.py
  api/tests/escalation/test_escalation_hook.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: mypy, pytest-check

Add admin and polling API for escalation management
  api/app/core/config.py
  api/app/main.py
  api/app/routes/admin/__init__.py
  api/app/routes/admin/escalations.py
  api/app/routes/escalation_polling.py
  api/tests/routes/__init__.py
  api/tests/routes/test_escalation_endpoints.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: mypy, pytest-check

Add response delivery service and Bisq2 WS integration tests
  api/app/services/escalation/response_delivery.py
  api/tests/escalation/test_escalation_bisq2_websocket.py
  api/tests/escalation/test_escalation_response_delivery.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: mypy, pytest-check

Add learning engine and FAQ generation integration tests
  api/tests/escalation/test_escalation_learning.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: pytest-check

Add escalation admin queue and chat escalation UI
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
  web/src/app/admin/escalations/EscalationReviewPanel.tsx
  web/src/app/admin/escalations/GenerateFAQDialog.tsx
  web/src/app/admin/escalations/page.tsx
  web/src/components/admin/sidebar.tsx
  web/src/components/chat/chat-interface.tsx
  web/src/components/chat/components/human-response-section.tsx
  web/src/components/chat/components/human-review-badge.tsx
  web/src/components/chat/components/message-item.tsx
  web/src/components/chat/hooks/use-chat-messages.ts
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/components/chat/types/chat.types.ts
Due: none

Add observability metrics and structured logging for escalation
  api/app/channels/hooks/escalation_hook.py
  api/app/services/escalation/escalation_service.py
  api/tests/escalation/test_escalation_observability.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
Due: mypy, pytest-check

Add escalation feature flags and rollout configuration
  api/app/channels/hooks/escalation_hook.py
  api/app/core/config.py
  api/tests/escalation/test_escalation_feature_flags.py
  claudedocs/spec/escalation-learning-pipeline/IMPLEMENTATION_PLAN.yml
  docker/docker-compose.yml
Due: mypy, pytest-check

Fix escalation service init: add aiosqlite dep and DB path
  api/app/routes/admin/escalations.py
  api/requirements.in
  api/requirements.txt
Due: mypy, pytest-check

Refocus admin overview on actionable cross-section tasks
  web/src/app/admin/overview/page.tsx
Due: none

Fix reaction feedback robustness and feedback admin fetch behavior
  api/app/channels/base.py
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/bisq2/reaction_handler.py
  api/app/channels/reactions.py
  api/app/db/repository.py
  api/app/services/feedback_service.py
  api/tests/channels/plugins/test_bisq2_reaction_handler.py
  api/tests/contracts/test_reaction_payload_contract.py
  api/tests/db/test_feedback_migration.py
  api/tests/models/test_feedback_multichannel.py
  web/src/app/admin/manage-feedback/page.tsx
Due: mypy, pytest-check

Regenerate API requirements for CI consistency
  api/requirements.txt
Due: none

Address remaining CodeRabbit findings across API and admin UI
  api/app/channels/reactions.py
  api/app/channels/response_builder.py
  api/app/core/config.py
  api/app/main.py
  api/app/routes/admin/escalations.py
  api/app/scripts/extract_matrix_eval_samples.py
  api/app/scripts/manage_kb_snapshot.py
  api/app/scripts/retrieval_benchmark_harness.py
  api/app/services/escalation/escalation_repository.py
  api/app/services/escalation/escalation_service.py
  api/app/services/feedback_service.py
  api/app/services/rag/index_state_manager.py
  api/app/services/rag/qdrant_index_manager.py
  api/app/services/simplified_rag_service.py
  api/tests/escalation/test_escalation_repository.py
  api/tests/escalation/test_escalation_service.py
  api/tests/routes/test_escalation_endpoints.py
  web/src/app/admin/escalations/page.tsx
  web/src/app/admin/manage-faqs/page.tsx
Due: mypy, pytest-check

Finalize evaluation dataset and remove legacy artifacts
  api/data/evaluation/README.md
  api/data/evaluation/bisq2_realistic_qa_samples.json
  api/data/evaluation/chromadb_realistic_baseline.json
  api/data/evaluation/kb_snapshots/kb_2026_02_11_current_retrieval/files/bm25_vocabulary.json
  api/data/evaluation/kb_snapshots/kb_2026_02_11_current_retrieval/files/qdrant_index_metadata.json
  api/data/evaluation/kb_snapshots/kb_2026_02_11_current_retrieval/files/wiki/payment_methods_reference.jsonl
  api/data/evaluation/kb_snapshots/kb_2026_02_11_current_retrieval/files/wiki/processed_wiki.jsonl
  api/data/evaluation/kb_snapshots/kb_2026_02_11_current_retrieval/manifest.json
  api/data/evaluation/matrix_realistic_qa_samples_30_20260211.json
  api/data/evaluation/optimization/balanced_evaluation.json
  api/data/evaluation/optimization/current_default_evaluation.json
  api/data/evaluation/optimization/more_keyword_evaluation.json
  api/data/evaluation/optimization/more_semantic_evaluation.json
  api/data/evaluation/run_manual_optimization.sh
Due: none

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$

