Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Add Bisq2 ChatOps transport and stabilize local E2E runtime
  api/app/channels/plugins/bisq2/channel.py
  api/app/channels/plugins/bisq2/chatops_adapter.py
  api/app/core/config.py
  api/tests/channels/plugins/test_bisq2_chatops_adapter.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/test_channel_settings_flags.py
  docker/docker-compose.local.yml
  web/next.config.js
  web/tests/e2e/permission-regression.spec.ts
  web/tests/e2e/similar-faq-check.spec.ts
  web/tests/e2e/smoke.spec.ts
  web/tests/e2e/utils/env.ts
  web/tests/e2e/utils/helpers.ts
Due: mypy, pytest-check

Fix ChatOps parser and unclaim review findings
  api/app/channels/chatops/dispatcher.py
  api/app/channels/chatops/parser.py
  api/app/models/escalation.py
  api/app/services/escalation/escalation_repository.py
  api/app/services/escalation/escalation_service.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/chatops/test_parser.py
  api/tests/channels/plugins/test_bisq2_plugin.py
  api/tests/escalation/test_escalation_service.py
  web/tests/e2e/smoke.spec.ts
  web/tests/e2e/utils/env.ts
  web/tests/e2e/utils/helpers.ts
Due: mypy, pytest-check

Add shared Matrix ChatOps command handling
  api/app/channels/chatops/__init__.py
  api/app/channels/chatops/auth.py
  api/app/channels/chatops/dispatcher.py
  api/app/channels/chatops/models.py
  api/app/channels/chatops/parser.py
  api/app/channels/plugins/matrix/channel.py
  api/app/channels/plugins/matrix/chatops_adapter.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/core/config.py
  api/app/services/escalation/escalation_service.py
  api/tests/channels/chatops/test_auth.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/chatops/test_parser.py
  api/tests/channels/plugins/test_matrix_chatops_adapter.py
  api/tests/channels/plugins/test_matrix_message_handler.py
Due: mypy, pytest-check

Fix ChatOps review findings
  api/app/channels/chatops/auth.py
  api/app/channels/chatops/dispatcher.py
  api/app/channels/plugins/bisq2/chatops_adapter.py
  api/app/channels/plugins/matrix/chatops_adapter.py
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/policy.py
  api/tests/channels/chatops/test_auth.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/plugins/test_matrix_message_handler.py
Due: mypy, pytest-check

Tighten escalation state transitions
  api/app/models/escalation.py
  api/app/routes/admin/escalations.py
  api/app/services/escalation/escalation_service.py
  api/tests/escalation/test_escalation_concurrency.py
  api/tests/escalation/test_escalation_service.py
  api/tests/routes/test_escalation_endpoints.py
Due: mypy, pytest-check

Cap Playwright health probe request timeouts
  web/tests/e2e/utils/helpers.ts
Due: none

Validate ChatOps edit-send and policy fallback
  api/app/channels/chatops/dispatcher.py
  api/app/channels/policy.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/test_policy.py
Due: mypy, pytest-check

Harden ChatOps dispatcher error handling
  api/app/channels/chatops/dispatcher.py
  api/app/channels/plugins/bisq2/chatops_adapter.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/plugins/test_bisq2_chatops_adapter.py
  web/tests/e2e/utils/helpers.ts
Due: mypy, pytest-check

Guard escalation priority updates on closed cases
  api/app/routes/admin/escalations.py
  api/app/services/escalation/escalation_service.py
  api/tests/escalation/test_escalation_service.py
Due: mypy, pytest-check

Allow Matrix staff commands when generation is disabled
  api/app/channels/plugins/matrix/message_handler.py
Due: mypy, pytest-check

Fix trust monitoring review findings
  api/app/channels/plugins/matrix/message_handler.py
Due: mypy, pytest-check

Finalize docs, config examples, and verification fixes
  api/app/core/config.py
Due: mypy, pytest-check

Fix security admin review findings
  api/app/routes/admin/trust_monitor.py
Due: mypy, pytest-check

Add security ops diagnostics and ChatOps audit trail
  api/app/channels/chatops/__init__.py
  api/app/channels/chatops/audit_store.py
  api/app/channels/chatops/dispatcher.py
  api/app/channels/chatops/models.py
  api/app/channels/chatops/parser.py
  api/app/channels/plugins/bisq2/chatops_adapter.py
  api/app/channels/plugins/matrix/chatops_adapter.py
  api/app/channels/trust_monitor/evidence_store.py
  api/app/channels/trust_monitor/models.py
  api/app/channels/trust_monitor/service.py
  api/app/main.py
  api/app/metrics/operator_metrics.py
  api/app/routes/admin/trust_monitor.py
  api/tests/channels/chatops/test_dispatcher.py
  api/tests/channels/trust_monitor/test_trust_monitor_service.py
  api/tests/routes/test_admin_trust_monitor.py
  web/src/app/admin/security/alerts/page.tsx
  web/src/components/admin/overview/TrustMonitoringCard.tsx
  web/src/components/admin/security/SecurityAlertsClient.tsx
  web/src/components/admin/security/SecurityAlertsPolicyBar.test.tsx
  web/src/components/admin/security/SecurityAlertsPolicyBar.tsx
  web/src/components/admin/security/SecurityAuditTrail.tsx
  web/src/components/admin/security/SecurityOpsSummary.test.tsx
  web/src/components/admin/security/SecurityOpsSummary.tsx
  web/src/components/admin/security/types.ts
Due: mypy, pytest-check

Encrypt persisted Bisq auth state and gate live LLM E2E
  api/app/channels/plugins/bisq2/client/api.py
  api/tests/integration/test_bisq_api.py
  docker/.env.example
  web/tests/e2e/bisq-version-handling.spec.ts
  web/tests/e2e/utils/env.ts
Due: mypy, pytest-check

Add Grafana coverage for trust monitoring and ChatOps
  api/app/channels/chatops/dispatcher.py
  api/app/metrics/operator_metrics.py
  api/tests/channels/chatops/test_dispatcher.py
  docker/grafana/dashboards/security_operations.json
  docker/prometheus/alert_rules.yml
Due: mypy, pytest-check

Fix ChatOps review findings
  api/app/channels/policy.py
Due: mypy, pytest-check

Fix stacked CI regressions on top branch
  api/app/channels/plugins/matrix/message_handler.py
  api/app/channels/policy.py
Due: mypy, pytest-check

Refresh API dependency lockfile
  api/requirements.txt
Due: none

Sort chat route imports
  api/app/routes/chat.py
Due: mypy, pytest-check

Wire production env for trust monitor and ChatOps
  README.md
  api/.env.example
  docker/.env.example
  docker/docker-compose.yml
  docs/environment-configuration.md
Due: none

Export deploy env for production scripts
  scripts/deploy.sh
  scripts/lib/common.sh
  scripts/start.sh
  scripts/stop.sh
Due: none

Polish security alerts review experience
  web/src/components/admin/overview/OverviewClient.test.tsx
  web/src/components/admin/overview/OverviewClient.tsx
  web/src/components/admin/overview/TrustMonitoringCard.test.tsx
  web/src/components/admin/overview/TrustMonitoringCard.tsx
  web/src/components/admin/security/SecurityAlertsClient.test.tsx
  web/src/components/admin/security/SecurityAlertsClient.tsx
  web/src/components/admin/security/SecurityAlertsPolicyBar.test.tsx
  web/src/components/admin/security/SecurityAlertsPolicyBar.tsx
  web/src/components/admin/security/SecurityFindingDetail.tsx
  web/src/components/admin/security/SecurityFindingsList.tsx
Due: none

Address security alerts review feedback
  web/src/components/admin/overview/OverviewClient.test.tsx
  web/src/components/admin/security/SecurityAlertsClient.test.tsx
  web/src/components/admin/security/SecurityAlertsClient.tsx
  web/src/components/admin/security/SecurityFindingDetail.tsx
  web/src/components/admin/security/SecurityFindingsList.tsx
  web/src/components/admin/security/securityUi.ts
Due: none

Address security alerts review feedback
  api/requirements.txt
  web/src/components/admin/overview/OverviewClient.test.tsx
  web/src/components/admin/security/SecurityAlertsClient.tsx
Due: none

Harden deployment and runtime recovery scripts
  api/tests/test_deployment_scripts.py
  scripts/deploy.sh
  scripts/lib/common.sh
  scripts/lib/docker-utils.sh
  scripts/lib/git-utils.sh
  scripts/rollback.sh
  scripts/start.sh
  scripts/update.sh
Due: pytest-check

Refresh runtime services for env-only updates
  api/tests/test_deployment_scripts.py
  scripts/lib/docker-utils.sh
  scripts/update.sh
Due: pytest-check
