Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$


Address LLM Wiki review feedback
  api/app/core/config.py
  api/app/scripts/manage_kb_snapshot.py
  api/app/services/rag/document_retriever.py
  api/app/services/rag/llm_wiki_loader.py
  api/requirements.txt
  api/tests/services/rag/test_llm_wiki_loader.py
  api/tests/test_config_data_dirs.py
  api/tests/test_manage_kb_snapshot.py
Due: mypy, pytest-check

Make requirements freshness check deterministic
  .github/workflows/ci.yml
  README.md
Due: none

Fix security scan dependency findings
  .trivyignore
  api/requirements.in
  api/requirements.txt
  web/package-lock.json
  web/package.json
Due: none

Add LLM Wiki knowledge update review flow
  README.md
  api/app/routes/admin/__init__.py
  api/app/routes/admin/knowledge_updates.py
  api/app/services/knowledge_updates/__init__.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/simplified_rag_service.py
  api/requirements.in
  api/requirements.txt
  api/tests/services/test_knowledge_update_service.py
  docker/.env.example
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docs/bisq2-api-startup-and-pairing.md
  docs/environment-configuration.md
  docs/troubleshooting.md
  web/src/app/admin/knowledge-updates/page.tsx
  web/src/app/admin/layout.tsx
  web/src/components/admin/overview/OverviewClient.tsx
  web/src/components/admin/queue/QueuePageHeader.tsx
  web/src/components/admin/queue/QueueTabs.tsx
  web/src/components/admin/sidebar.tsx
  web/src/components/chat/types/chat.types.ts
Due: mypy, pytest-check

Address LLM Wiki review nitpicks
  api/app/channels/plugins/support_markdown.py
  api/tests/channels/plugins/test_support_markdown.py
  web/src/app/admin/escalations/EscalationReviewPanel.tsx
Due: mypy, pytest-check

Polish admin support queue responsiveness
  web/src/app/admin/escalations/EscalationReviewPanel.tsx
  web/src/components/admin/queue/QueueTabs.tsx
Due: none

Mark initial LLM Wiki pages proposed
  api/data/knowledge/llm_wiki/log.md
  api/data/knowledge/llm_wiki/pages/bisq1-altcoin-instant-stuck.md
  api/data/knowledge/llm_wiki/pages/bisq1-bsq-fee-payment.md
  api/data/knowledge/llm_wiki/pages/bisq1-dao-dpt-state-error.md
  api/data/knowledge/llm_wiki/pages/bisq1-deposit-confirmed-stuck.md
  api/data/knowledge/llm_wiki/pages/bisq1-dispute-mediation-arbitration.md
  api/data/knowledge/llm_wiki/pages/bisq1-failed-trade-fees.md
  api/data/knowledge/llm_wiki/pages/bisq1-fiat-stablecoin-routing.md
  api/data/knowledge/llm_wiki/pages/bisq1-offer-fee-tx-not-found.md
  api/data/knowledge/llm_wiki/pages/bisq1-payout-output-inconsistency.md
  api/data/knowledge/llm_wiki/pages/bisq1-sepa-payment-name-proof.md
  api/data/knowledge/llm_wiki/pages/bisq2-btc-only-altcoin-path.md
  api/data/knowledge/llm_wiki/pages/bisq2-easy-mediation-and-risk.md
  api/data/knowledge/llm_wiki/pages/bisq2-overview-trade-totals.md
  api/data/knowledge/llm_wiki/pages/bisq2-profile-data-recovery.md
  api/data/knowledge/llm_wiki/pages/bisq2-reputation-basics.md
  api/data/knowledge/llm_wiki/pages/bisq2-wallet-lightning-onchain.md
  api/data/knowledge/llm_wiki/schema.md
  api/tests/services/rag/test_llm_wiki_seed_pages.py
Due: pytest-check

Harden Bisq readiness monitoring
  docker/alertmanager/alertmanager.yml
  docker/docker-compose.yml
  docker/scripts/bisq-readiness-check.sh
  scripts/lib/docker-utils.sh
Due: none

Handle invalid Bisq readiness responses
  docker/scripts/bisq-readiness-check.sh
Due: none

Clarify knowledge update review flow
  .impeccable/design.json
  DESIGN.md
  PRODUCT.md
  web/src/app/admin/knowledge-updates/page.tsx
  web/src/components/admin/queue/QueueTabs.tsx
Due: none

Address review guide close spacing
  web/src/app/admin/knowledge-updates/page.tsx
Due: none

Add realtime escalation response events
  api/app/main.py
  api/app/routes/escalation_polling.py
  api/app/services/escalation/escalation_event_broker.py
  api/app/services/escalation/escalation_service.py
  api/tests/escalation/test_escalation_event_broker.py
  api/tests/escalation/test_escalation_service.py
  api/tests/routes/test_escalation_endpoints.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  web/src/app/admin/escalations/page.tsx
  web/src/app/admin/manage-feedback/page.tsx
  web/src/app/admin/training/page.tsx
  web/src/components/admin/overview/OverviewClient.test.tsx
  web/src/components/admin/overview/TrustMonitoringCard.test.tsx
  web/src/components/admin/training/TrainingReviewItem.tsx
  web/src/components/chat/components/markdown-content.tsx
  web/src/components/chat/hooks/use-escalation-polling.test.tsx
  web/src/components/chat/hooks/use-escalation-polling.ts
  web/src/hooks/useChannelAutoresponsePolicies.ts
  web/src/hooks/useTrustMonitorPolicy.test.tsx
  web/src/test-globals.d.ts
  web/tests/e2e/bisq-version-handling.spec.ts
Due: mypy, pytest-check

Address escalation event review findings
  api/app/services/escalation/escalation_event_broker.py
  api/tests/escalation/test_escalation_event_broker.py
  api/tests/escalation/test_escalation_service.py
  web/src/components/chat/hooks/use-escalation-polling.ts
Due: mypy, pytest-check

Fix LLM Wiki document approval refs
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/tests/services/test_knowledge_update_service.py
  web/src/app/admin/knowledge-updates/page.tsx
Due: mypy, pytest-check

Update API security dependency pins
  api/requirements.in
  api/requirements.txt
Due: none

Harden raw wiki clipboard fallback
  web/src/app/admin/knowledge-updates/page.tsx
Due: none

Add support admin reporting section
  api/app/routes/admin/__init__.py
  api/app/routes/admin/reports.py
  api/app/services/admin_reporting_service.py
  api/tests/routes/test_admin_reports.py
  api/tests/services/test_support_reporting_service.py
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  web/src/app/admin/reports/page.tsx
  web/src/components/admin/sidebar.tsx
  web/src/lib/adminReportsApi.test.ts
  web/src/lib/adminReportsApi.ts
Due: mypy, pytest-check

Address reporting review feedback
  api/app/routes/admin/reports.py
  api/app/services/admin_reporting_service.py
  api/tests/services/test_support_reporting_service.py
  web/src/app/admin/reports/page.tsx
Due: mypy, pytest-check

Polish reports page form controls
  web/src/app/admin/reports/page.tsx
  web/src/app/globals.css
Due: none

Remove vulnerable LiteLLM embedding dependency
  api/app/core/config.py
  api/app/main.py
  api/app/services/rag/__init__.py
  api/app/services/rag/embeddings_provider.py
  api/app/services/rag/llm_provider.py
  api/app/services/rag/qdrant_hybrid_retriever.py
  api/requirements.in
  api/requirements.txt
  api/tests/rag/test_embeddings_provider.py
  api/tests/rag/test_llm_provider.py
  api/tests/test_qdrant_hybrid.py
  docker/.env.example
Due: mypy, pytest-check

Stabilize knowledge diff line editing
  web/src/app/admin/knowledge-updates/page.tsx
  web/src/components/admin/knowledge-updates/DocumentDiffViewer.test.tsx
  web/src/components/admin/knowledge-updates/DocumentDiffViewer.tsx
Due: none

Harden LLM Wiki curation pipeline
  api/app/routes/admin/knowledge_updates.py
  api/app/scripts/audit_knowledge_update_candidates.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/data/knowledge/llm_wiki/index.md
  api/data/knowledge/llm_wiki/pages/bisq1-altcoin-instant-stuck.md
  api/data/knowledge/llm_wiki/pages/bisq1-data-directory-wallet-recovery.md
  api/data/knowledge/llm_wiki/pages/bisq1-network-tor-price-feed.md
  api/tests/routes/test_knowledge_updates.py
  api/tests/scripts/test_audit_knowledge_update_candidates.py
  api/tests/services/rag/test_llm_wiki_seed_pages.py
  api/tests/services/test_knowledge_update_service.py
Due: mypy, pytest-check

Collapse LLM Wiki review clusters
  api/app/routes/admin/knowledge_updates.py
  api/app/scripts/audit_knowledge_update_candidates.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/knowledge_updates/topic_clusters.py
  api/tests/routes/test_knowledge_updates.py
  api/tests/services/test_knowledge_update_service.py
  web/src/app/admin/knowledge-updates/page.tsx
Due: mypy, pytest-check

Avoid blocking cluster review writes
  api/app/routes/admin/knowledge_updates.py
Due: mypy, pytest-check

Count clustered knowledge update reviews
  api/app/routes/admin/signals.py
  api/tests/routes/test_admin_signals_endpoints.py
Due: mypy, pytest-check

Avoid blocking knowledge update count
  api/app/routes/admin/signals.py
Due: mypy, pytest-check

Harden LLM Wiki candidate curation
  api/app/routes/admin/knowledge_updates.py
  api/app/routes/admin/signals.py
  api/app/scripts/audit_knowledge_update_candidates.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/knowledge_updates/topic_clusters.py
  api/tests/routes/test_knowledge_updates.py
  api/tests/services/test_knowledge_update_service.py
Due: mypy, pytest-check

Address LLM Wiki curation review feedback
  api/app/scripts/audit_knowledge_update_candidates.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/tests/services/test_knowledge_update_service.py
Due: mypy, pytest-check

Harden LLM wiki protocol consistency checks
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/rag/protocol_detector.py
  api/tests/services/test_knowledge_update_service.py
  api/tests/test_protocol_detector.py
Due: mypy, pytest-check

Prevent protocol ambiguity fallback scoring
  api/app/services/rag/protocol_detector.py
  api/tests/test_protocol_detector.py
Due: mypy, pytest-check

Improve clustered LLM Wiki review drafts
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/tests/services/test_knowledge_update_service.py
  web/src/app/admin/knowledge-updates/page.tsx
Due: mypy, pytest-check

Add LLM Wiki feedback loop
  api/app/routes/admin/knowledge_updates.py
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/rag/llm_wiki_loader.py
  api/tests/routes/test_knowledge_updates.py
  api/tests/services/rag/test_llm_wiki_loader.py
  api/tests/services/test_knowledge_update_service.py
  web/src/app/admin/knowledge-updates/page.tsx
Due: mypy, pytest-check

Bump LangSmith security floor
  api/requirements.in
  api/requirements.txt
Due: none

Address LLM Wiki feedback review comments
  api/app/services/knowledge_updates/llm_wiki_update_service.py
  api/app/services/rag/llm_wiki_loader.py
  api/tests/routes/test_knowledge_updates.py
  api/tests/services/rag/test_llm_wiki_loader.py
  api/tests/services/test_knowledge_update_service.py
  web/src/app/admin/knowledge-updates/page.tsx
Due: mypy, pytest-check

Limit production full rebuild scope
  api/tests/test_deployment_scripts.py
  scripts/lib/git-utils.sh
Due: pytest-check

Use Bisq OpenAPI endpoint for health probe
  api/app/services/bisq_mcp_service.py
  api/tests/test_bisq_mcp_service.py
Due: mypy, pytest-check
