Repository hiciefte/bisq2-support-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-check

mypy:
  name: Type check Python code with mypy
  entry: bash -c 'cd api && mypy "${@#api/}"' --
  language: system
  pass_filenames: true

pytest-check:
  name: Run fast pytest tests
  entry: bash -c 'cd api && python -m pytest tests/ -m "not slow" -x --tb=short --quiet'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

Fix scheduler API_HOST double port issue
  docker/docker-compose.yml
Due: none

Add Matrix token validation and nginx health checks
  api/app/integrations/matrix/session_manager.py
  api/tests/test_matrix_session_manager.py
  scripts/update.sh
Due: mypy, pytest-check

Improve MCP get_offerbook tool prompt for LLM
  api/app/services/mcp/mcp_http_server.py
Due: mypy, pytest-check

Address CodeRabbit feedback: add login.assert_not_called()
  api/tests/test_matrix_session_manager.py
Due: pytest-check

Update requirements.txt with pip-compile
  api/requirements.txt
Due: none

Fix deployment DNS cache issue and reduce training sync frequency
  docker/docker-compose.yml
  docker/scripts/poll-matrix.sh
  scripts/update.sh
Due: none

Use human-readable FAQ source names for display
  api/app/services/training/unified_pipeline_service.py
  api/tests/test_unified_integration.py
  api/tests/test_unified_pipeline_service.py
Due: mypy, pytest-check

Update dependencies (pathspec 1.0.3 -> 1.0.4)
  api/requirements.txt
Due: none

Fix Grafana subpath configuration for nginx reverse proxy
  docker/docker-compose.yml
Due: none

Allow GRAFANA_ROOT_URL override with auto-detect fallback
  docker/docker-compose.yml
Due: none

Fix duplicate FAQ candidates from sync polling
  api/app/services/training/bisq2_sync_service.py
  api/app/services/training/matrix_sync_service.py
  api/tests/test_bisq_sync_deduplication.py
Due: mypy, pytest-check

Increase nginx rate limit bursts for browser compatibility
  docker/nginx/conf.d/default.prod.conf
  docker/nginx/nginx.conf
Due: none

Add source-based protocol detection for Bisq 2 Support API
  api/app/services/rag/protocol_detector.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/test_source_based_protocol_detection.py
Due: mypy, pytest-check

Address code review feedback for source-based protocol detection
  api/app/services/rag/protocol_detector.py
  api/app/services/training/unified_pipeline_service.py
  api/tests/test_source_based_protocol_detection.py
Due: mypy, pytest-check

Remove unused Similar FAQ Review Queue (Phase 7) feature
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  web/src/app/admin/manage-faqs/page.tsx
  web/src/components/admin/MergePreviewModal.tsx
  web/src/components/admin/SimilarFaqReviewCard.tsx
  web/src/components/admin/SimilarFaqReviewQueue.tsx
  web/src/components/admin/faqs/InlineEditFAQ.tsx
  web/tests/e2e/similar-faq-review-queue.spec.ts
Due: none

Fix Grafana proxy to preserve /grafana/ path prefix
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Add Grafana-specific security headers
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docker/nginx/conf.d/snippets/security-headers-grafana.conf
Due: none

Add WebSocket support for Grafana proxy
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docker/nginx/nginx.conf
Due: none

Fix duplicate proxy_http_version directive in Grafana config
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Fix Grafana nginx config per official documentation
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Add instant navigation feedback for admin pages
  web/package-lock.json
  web/package.json
  web/src/app/admin/layout.tsx
  web/src/app/admin/manage-faqs/loading.tsx
  web/src/app/admin/manage-feedback/loading.tsx
  web/src/app/admin/overview/loading.tsx
  web/src/app/admin/training/loading.tsx
Due: none

Add proxy buffering for Grafana JS/CSS bundles
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Fix Grafana rate limit burst for local development
  docker/nginx/conf.d/default.conf
Due: none

Add forwarding headers to Grafana WebSocket location
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Update dependencies (langsmith 0.6.5 -> 0.6.6)
  api/requirements.txt
Due: none

Enable Grafana anonymous access with Viewer role
  docker/docker-compose.yml
Due: none

Fix Grafana proxy timeouts causing HTML truncation
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
Due: none

Add RAG evaluation baseline with RAGAS metrics
  api/app/scripts/record_baseline_metrics.py
  api/data/evaluation/baseline_scores.json
  api/data/evaluation/bisq_qa_baseline_samples.json
  api/data/evaluation/bisq_qa_dataset.json
Due: mypy, pytest-check

Phase 1: Add Qdrant infrastructure and config
  api/app/core/config.py
  api/app/services/rag/__init__.py
  api/app/services/rag/interfaces.py
  api/requirements.in
  docker/docker-compose.yml
Due: mypy, pytest-check

Phase 2: Implement Qdrant hybrid retriever and ColBERT reranker
  api/app/scripts/migrate_to_qdrant.py
  api/app/services/rag/colbert_reranker.py
  api/app/services/rag/qdrant_hybrid_retriever.py
Due: mypy, pytest-check

Phase 3: Wire feature flags and fallback logic
  api/app/main.py
  api/app/services/rag/chromadb_retriever_adapter.py
  api/app/services/rag/resilient_retriever.py
  api/app/services/simplified_rag_service.py
Due: mypy, pytest-check

Phase 4: Add test coverage for new retrieval system
  api/app/services/rag/qdrant_hybrid_retriever.py
  api/requirements.in
  api/requirements.txt
  api/tests/test_colbert_rerank.py
  api/tests/test_feature_flags.py
  api/tests/test_qdrant_hybrid.py
  api/tests/test_resilient_retriever.py
Due: mypy, pytest-check

Phase 5: Add evaluation scripts for RAG retrieval comparison
  api/app/scripts/compare_metrics.py
  api/app/scripts/run_ragas_evaluation.py
  api/data/evaluation/README.md
Due: mypy, pytest-check

Fix ColBERT test isolation issue
  api/tests/test_colbert_rerank.py
  api/tests/test_feature_flags.py
Due: pytest-check

Fix all failing tests for green CI
  api/app/main.py
  api/app/services/rag/colbert_reranker.py
  api/tests/test_task_metrics_persistence.py
Due: mypy, pytest-check

Remove nginx Grafana proxy configuration
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/default.prod.conf
  docker/nginx/conf.d/snippets/security-headers-grafana.conf
  docker/nginx/nginx.conf
Due: none

Update requirements.txt with latest package versions
  api/requirements.txt
Due: none

Update Grafana config for direct port access
  docker/docker-compose.yml
Due: none

Integrate BM25 tokenizer into Qdrant hybrid retriever
  api/app/core/config.py
  api/app/services/rag/bm25_tokenizer.py
  api/app/services/rag/qdrant_hybrid_retriever.py
  api/tests/test_bm25_tokenizer.py
  api/tests/test_qdrant_hybrid.py
Due: mypy, pytest-check

Update mcp to 1.26.0 to fix security vulnerabilities
  api/requirements.in
  api/requirements.txt
Due: none

Path conditions:
  mypy: any of: ^api/app/ and \.py$ and not (^(api/venv/|api/data/)) and not ((?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$
)
  pytest-check: any of: ^api/(app|tests)/.*\.py$, but not: (?x)^(
    api/venv/.*|
    api/data/.*|
    api/__pycache__/.*|
    web/node_modules/.*|
    web/.next/.*|
    \.git/.*|
    .*\.pyc|
    QUALITY_ASSESSMENT_REPORT\.md|
    TESTING_SETUP_SUMMARY\.md
)$

